div {
    width: 100%;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jh_navigation {
    width: 100%;
    height: 56px;
    background-color: #FFD1D0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.jh_title {


}

.jh_titleName {
    text-align: center;
    font-size: 18px;
    color: #3f3f3f;
}

.jh_pageNavigation {

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    background-color: #EDEDED;
}

.jh_pageNavigationA {
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    align-content: center;

}

.jh_pageNavigationB {
    text-align: center;
    font-size: 16px;
    border-radius: 50px;
    height: 2.3rem;
    align-content: center;
}

.jh_pageNavigationA:hover {

}

.jh_message {
    margin-top: 5rem;
    text-align: center;
    font-size: 20px;

}

.jh_funding_message {
    margin-top: 5rem;
    text-align: center;
    font-size: 18px;

}

.jh_wishlist_message {
    margin-top: 5rem;
    text-align: center;
    font-size: 16px;
}

.jh_week_data_message {
    text-align: center;
    font-size: 18px;
    margin-top: 10%;
    margin-bottom: 5%;
    color: #3f3f3f;
}

.jh_week_data {
    margin-top: 5rem;
    width: 85%;
    margin-left: 7.5%;
}

.jh_funding_detail {
    text-align: center;
    margin-bottom: 2vh;
    color: #555555;
}

.jh_detail_head {
    text-align: center;
    /*!체크!*/
    font-size: 18px;
    color: #3f3f3f;
}

.jh_arrange_button {
    width: auto;
    /*!체크!*/
    margin: 1rem;
}

.jh_arrange_button_button {
    /*!체크!*/
    border: 2px solid #ff5757;
    border-radius: 10px;
    background-color: #ffdada;
    font-family: "Noto Serif JP", serif;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 10px;
    color: #333333;
}

.jh_prev_btn {

    text-align: center;
    font-family: "Noto Serif JP", serif;
    font-weight: bold;
    margin-bottom: 15%;
    margin-top: 15%;
}

.jh_next_btn {

    text-align: center;
    font-family: "Noto Serif JP", serif;
    font-weight: bold;
    margin-bottom: 15%;
    margin-top: 15%;
}

/* 모달 배경 */
.jh_modal {
    position: fixed;
    z-index: 1;
    left: 33%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* 모달 컨텐츠 */
.jh_modal_content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 2px solid #EC0000;
    outline: 1px solid #ffc700;
    width: 25%;
    max-width: 500px;
    transform: translate(3px, -3rem);
    border-radius: 20px;
}

/* 닫기 버튼 */
.jh_closeBtn {
    font-size: 28px;
    font-weight: bold;
}

.jh_closeBtn:hover,
.jh_closeBtn:focus {
    color: #e10005;
    text-decoration: none;
    cursor: pointer;
}

.jh_wishlists {
    background-color: #ffdcdc; /* 버튼 배경색: 핑크색 */
    color: #404040; /* 글자색 */
    border: 1px solid #ff5155;
    padding: 10px 20px; /* 패딩 */
    text-align: center; /* 텍스트 정렬 */
    text-decoration: none; /* 텍스트 밑줄 제거 */
    display: inline-block; /* 인라인 블록으로 설정 */
    font-size: 14px; /* 폰트 크기 */
    font-weight: bold;
    margin: 4px 2px; /* 마진 */
    cursor: pointer; /* 커서 모양 변경 */
    border-radius: 12px; /* 둥근 모서리 */
    transition: background-color 0.3s ease, transform 0.3s ease; /* 배경색 및 트랜지션 효과 */
}

.jh_wishlists:hover {
    background-color: #ff5757;
    color: white;
    transform: scale(1.05);
}

.jh_wishlists:active {
    background-color: #ff7878; /* 클릭 시 다크 핑크 */
    transform: scale(0.95); /* 클릭 시 버튼 살짝 축소 */
}

.jh_slider.slick-slide.slick-current.slick-active {
    width: auto;


}

#jh_slider111 {
    height: 1142px !important;

}

.slick-list.draggable:nth-child(3) {
    height: 1142px !important;

}

.slick-track {

}

#jh_select_tag:hover {
    cursor: pointer;
    background-color: #fe4a4c !important;
    color: white !important;
    box-shadow: 0px 0px 5px #EC0000;
}

.jh_product_chart {
    /* width : 390px !important;
     height : 390px !important;*/
    margin-top: 5%;
    border: 2px solid #ff6060;
    border-radius: 10px;
    width: 85%;
    margin-left: 7.5%;
    background-color: white;


}

#jh_product_chart {
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
}

.jh_prev_btn2 {

    text-align: center;
    font-family: "Noto Serif JP", serif;
    font-weight: bold;
    margin-bottom: 15%;
    margin-top: 15%;
}

.jh_next_btn2 {

    text-align: center;
    font-family: "Noto Serif JP", serif;
    font-weight: bold;
    margin-bottom: 15%;
    margin-top: 15%;
}

.jh_allList_container {
    border: 2px solid #ff6060;
    width: 85%;
    margin-left: 7.5%;
    border-radius: 20px;
}

.jh_other_infos {

    width: 85%;
    margin-left: 7.5%;
}