.kh-f-card-container {
	height: 100rem;
	display: flex;
	align-self: center;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	overflow-x: scroll;
	gap: 1rem;
}

.kh-f-card-container::-webkit-scrollbar {
	display: none;
}

.kh-fund-card-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.kh-fund-card {
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: initial;
	/* text-align: center; */
	flex-shrink: 0;
	gap: 2rem;
	width: 20rem;
	height: 80rem;
	/* scale: 87%; */
	/* border-radius: 50% / 30%; */
	border: 2px solid #ff0000;
	box-shadow: inset 0 0 8px #FFD600;
}

.kh-fund-card:hover {
	cursor: none;
}

.kh-f-card-out {
	width: 20rem;
	height: 26rem;
	border: 1px solid #ff0000;
	border-radius: 50%/30%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.1s ease-in;
}

.kh-f-card-disable {
	scale: 90%;
	filter: grayscale(100%);
}

.kh-f-card-active {
	scale: 110%;
}
/*마우스*/
.kh-f-mousemove {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	pointer-events: none;
}

.kh-f-block {
	display: block;
}

.kh-f-none {
	display: none;
}
/* modal */
.kh-f-popup {
	width: 32rem;
	height: 40rem;
	border-radius: 30%;
	background-color: white;
	border: 3px solid #FF0000;
	box-shadow: 2px 2px 4px 0px #cccccc;
	gap: 2rem;
}

.kh-f-popup-in {
	width: 32rem;
	height: 40rem;
	scale: 94%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fffbf7;
	border: 2px solid #FF0000;
	border-radius: 30%;
	gap: 1rem;
	box-shadow: inset 0 0 8px #FFD600;
}

.kh-f-popup-in>div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.kh-f-img-box {
	height: 14rem;
}
#kh-f-img{
	content: url('../img/プレゼント.png');
}
.kh-f-des {
	display: flex;
	font-size: 1.5rem;
	text-align: center;
}

#kh-input-box {
	border-bottom: 30px solid red;
	border-image: url("../img/funder.png") 40;
	font-size: 1.5rem;
	margin-top: 1rem;
}

.kh-f-input {
	width: 15rem;
	height: 3rem;
	border: none;
	background: none;
	font-size: 2rem;
	text-align: right;
	color: #474747;
	padding-right: 4rem;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.kh-f-btn {
	width: 10rem;
	height: 3rem;
	padding: 0 10px;
	border-radius: 20%/70%;
	background-color: #fff4f4;
	box-shadow: 2px 2px 2px 0px #bbbbbb;
	border: 2px solid #c82626;
	color: #ff7e81;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.2rem;
	margin-top: 1rem;
}

.kh-f-btn:hover {
	cursor: pointer;
	background-color: #FF3B3F;
	color: white;
}

.kh-f-btn:active {
	box-shadow: none;
}

.kh-f-product-box {
	display: flex;
	gap: 2rem;
}

.kh-f-product-des {
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	text-wrap: nowrap;
}

.kh-f-product-des>h3 {
	margin-top: 0;
	margin-bottom: 1rem;
}

.kh-f-rotate {
	animation: rotate 1s 1;
}

.kh-f-rotate-full {
	animation: rotate-full 1s infinite;
}

@keyframes rotate { 0% {
	transform: rotateY(180deg);
	opacity: 0;
}

50%
{
}
100%{
transform:rotateY(0deg);
opacity:1;
}
}
@keyframes rotate-full { 0% {
	transform: rotateY(180deg);
	filter: blur(10px);
}
50%{
}
100%{
transform:rotateY(0deg);
}
}
.modal-button {
	display: inline-block;
	margin: 20px;
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

dialog {
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal {
	background: none !important;
	box-shadow: none;
}

.modal::-webkit-scrollbar {
	display: none !important;
}

.modal-content {
	padding: 20px;
}

.close-button {
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #dc3545;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

/*statistic modal*/
.kh-f-statistic-pop {
	border-radius: 10vw;
	background-color: white;
	border: 3px solid #FF0000;
	box-shadow: 2px 2px 4px 0px #cccccc;
	gap: 2rem;
	overflow:hidden;
}

.kh-f-statistic-pop-in {
	height: 70%;
	border-radius: 10vw;
	scale: 97%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fffbf7;
	border: 2px solid #FF0000;
	gap: 1rem;
	box-shadow: inset 0 0 8px #FFD600;
	padding: 2rem 0rem 3rem 0rem;
}

.kh-f-statistic-title {
	display: flex;
	justify-content: center;
	color: #FF3B3F;
	gap: 1rem;
}

.kh-f-statistic-title>div {
	display: flex;
	align-items: center;
}

.kh-f-statistic-title>div>img {
	width: 100%
}

.kh-f-statistic-conCon {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	overflow-x: visible;
	overflow-y: scroll;
	height:30vh;
	gap:1rem;
	padding-top:40px
}
.kh-f-statistic-conCon::-webkit-scrollbar {
	display: none;
}
.kh-f-statistic-content {
	display: flex;
	height: 3rem;
	justify-content: center;
	width:70%;
}

.kh-f-statistic-content>div {
	white-space: nowrap;
	display: flex;
}

.kh-f-statistic-status {
	
}

.kh-f-statistic-name {
	width:20vw;
	position: relative;
}

.kh-f-statistic-name>div {
	position: absolute;
	left: 0;
	bottom: 0.4rem;
	transform: translateX(-110%);
}

.kh-f-statistic-name>div>img {
	position: absolute;
	right: 0;
	transform: translate(50%, -100%)
}

.kh-f-statistic-name>h1 {
	margin: 0;
}

.kh-f-statistic-bar {
	width:50vw;
	display: flex;
	align-items: center;
}

.kh-f-statistic-bar>div {
	border-radius: 4px/100%;
	width: 100%;
	height: 4px;
	background-color: #E60211;
	display: flex;
	align-items: center;
	padding: 0 2px;
}

.kh-f-statistic-abled-bar {
	border-radius: 2px/100%;
	width: 0%;
	height: 2px;
	background-color: #FFE500;
	position:relative;
	transition: width 1s ease-out
}
.kh-f-statistic-abled-bar >div {
	width:2rem;
	position:absolute;
	right:-1rem;
	top:-0.8rem;
}
.kh-f-statistic-abled-bar > div >img {
	width: 100%;
}

.kh-f-statistic-percent {
	width:20vw;
	position: relative;
	justify-content: flex-end;
}

.kh-f-statistic-percent>img {
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(120%, -10%);
}

.kh-f-statistic-percent>h1 {
	color: #FF7E81;
	margin: 0;
}

.kh-f-statistic-percent>h1>span {
	color: black;
}
.kh-f-statistic-timer{
	display: flex;
	justify-content: center;
}
dialog:-internal-dialog-in-top-layer::backdrop {
	background: rgba(0, 0, 0, 0.5) !important;
}