/* Google Fonts 임포트 */
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

body {
	font-family: "Noto Serif JP", serif;
	font-optical-sizing: auto;
	font-weight: 400; /* 기본 폰트 두께를 지정 */
	font-style: normal;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}

.kh-f-whole-container {
	overflow: hidden;
	height: 100vh;
	display: flex;
	background-size: cover;
	background-color: #FFFBF7;
}

.kh-upper-line {
	width: 100vw;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0);
}

.kh-lower-line {
	width: 100vw;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, 0);
}

.kh-line-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.kh-f-container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.kh-f-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.kh-head {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 3rem;
}

.kh-swaying {
	animation: swaying 1s infinite ease-in-out;
}

.kh-rotate {
	animation: rotate-axis 1s infinite ease-in-out;
}


@keyframes rotate-axis {
	from { 
transform:perspective(800px) rotateY(0deg);
	
	}

to {
	transform: perspective(800px) rotateY(30deg);
	}

}
@keyframes vibration { 
	0% {
	transform: translateX(0);
	}
25%{
	transform:translateX(-5px);
}
50%{
	transform:translateX(5px);
	}
75%{
	transform:translateX(-5);
	}
100%{
	transform:translateX(0);
	}
}
.vibration {
	animation: vibration 0.1s infinite;
}

.kh-none {
	display: none;
}

.kh-show {
	display: block;
}

.yj-main-s2-logo {
	z-index: 4;
	width: 150px;
	height: 150px;
	position: absolute;
	top: 3rem;
	left: 4rem;
}

.yj-main-s2-logo img {
	width: 100%;
	height: 100%;
	animation: logo-float 2s ease-in-out infinite;
}

@keyframes logo-float { 
	0%, 100% {
	transform: translate(0, 0%);
	}
50%{
transform:translate(0,5%);
	}
}
.yj-main-s2-menu {
	z-index: 4;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 3rem;
	right: 5rem;
}

.yj-main-s2-menu img {
	width: 100%;
	height: 100%;
}