.kh-f-res-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height:100vh;
	flex-direction: column;
	gap:2rem;
	user-select: none;
}
.kh-f-res-img-box{
	width:716px;
	height:455px;
}
.kh-f-res-img-box > img{
	width:100%
}
.kh-f-res-btn-box{
	display:flex;
	flex-direction: column;
	gap:2rem;
	justify-content: center;
	align-items: center;
}
.kh-f-btn {
	width: 10rem;
	height: 3rem;
	padding: 0 10px;
	border-radius: 20%/70%;
	background-color: #fff4f4;
	box-shadow: 2px 2px 2px 0px #bbbbbb;
	border: 2px solid #c82626;
	color: #ff7e81;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.2rem;
	margin-top: 1rem;
}

.kh-f-btn:hover {
	cursor: pointer;
	background-color: #FF3B3F;
	color: white;
}

.kh-f-btn:active {
	box-shadow: none;
}
	
.kh-f-tex>a{
	color:black;
	text-decoration: none;
	font-size:1.2rem;
}

.kh-f-tex>a:hover{
  color: red;
  text-decoration: none;
  text-shadow: 0 0 3px #ffd0e9;
}
