* {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif JP", serif;
}

body{
    background-image:url('/img/tk_backgorund-color.png');
}

/* 메뉴 - 헤더 */
.tk_menu-header {
    height: 4rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 5rem;
    color: #2e2e2e;
}

.tk_logo-icon,
.tk_menu-icon {
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 50%;
    }
}

.tk_wishlist-body {
    display: flex;
}

.tk_wishlist-text-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-top: 3rem;
}

.tk_wishlist-btn-container button {
    width: 22rem;
}

.tk_wishlist-text-container div:nth-child(1) {
    font-size: 1.4rem;
    font-weight: bold;
}

.tk_wishlist-text-container div:nth-child(2), div:nth-child(3) {
    font-size: 0.9rem;
}


.tk_wishlist-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
}

.tk_wishlist-btn-box button{
    border-radius: 20px;
    border: 5px solid red;
    text-align: left;
    padding: 0 4rem 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
    gap: 3rem;
}

.tk_wishlist-btn-box:nth-child(1) > button {
    background-color: #FFE1E1;
}

.tk_wishlist-btn-box:nth-child(2) > button {
    background-color: #FFD600;
}

.tk_wishlist-btn-box:nth-child(3) > button {
    background-color: #FF7E81;
}

.tk_wishlist-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jp-text {
    font-size: 1rem;
    font-weight: bold;
}

.eg-text {
    font-size: 1.4rem;
    font-weight: bold;
}

.tk_wishlist-img-box {
    border: transparent;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
}

.tk_wishlist-btn-box img {
    width: 4rem;
    padding: 1.2rem;
}

.tk_menu-bar {
    width: 100%;
    height: 5rem;
    background-color: #ffd1d0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 769px) {
    .tk_menu-header{
        margin: 0 auto;
        gap: 4rem;
    }
    .tk_wishlist-body {
        margin: 0 auto;
    }

}

.tk_bottom-bar{
    background-color: #ffd1d0;
}

.tk_wishlist-btn-box a.wishlist-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 8rem;
    width: 21.5rem;
    gap: 3rem;
    background-color: #FF7E81;
    border-radius: 20px;
    border: 5px solid red;
    color: inherit;
    cursor: pointer;
}

.tk_wishlist-btn-box:nth-child(1) > a.wishlist-button {
    background-color: #FFE1E1;
}

.tk_wishlist-btn-box:nth-child(2) > a.wishlist-button {
    background-color: #FFD600;
}

.tk_wishlist-btn-box:nth-child(3) > a.wishlist-button {
    background-color: #FF7E81;
}

.tk_wishlist-a-img-box {
    border: transparent;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}