* {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif JP", serif;
}

/* 메뉴 - 헤더 */
.tk_menu-header {
    height: 4rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 5rem;
    color: #2e2e2e;
}

.tk_wishlist-container {
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(/img/paperBG.png);
    background-size: auto;
    background-repeat: repeat;
}

.tk_logo-icon,
.tk_menu-icon {
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 50%;
    }
}

.tk_wishlist-body {
    /*display: flex;*/
}

.tk_wishlist-text-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    /*margin-top: 3rem;*/
}

.tk_wishlist-btn-container button {
    width: 22rem;
}

.tk_wishlist-text-container div:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}

.tk_wishlist-text-container div:nth-child(1), div:nth-child(3) {
    font-size: 0.9rem;
}


.tk_wishlist-btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
}

.tk_wishlist-btn-box {
    width: 90%;
    margin: 8px 10px;
}

.tk_wishlist-btn-box button{
    color: #333333;
    width: 100%;
    border-radius: 20px;
    border: 3px solid #EC0000;
    outline: 2px solid #ffc700;
    text-align: left;
    padding: 0 4rem 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    gap: 3rem;
}

.tk_wishlist-btn-box:nth-child(1) > button {
    background-color: #FF7E81;
}

.tk_wishlist-btn-box:nth-child(1) > button:hover {
    cursor: pointer;
    background-color: #ff474b;
    color: white;
    box-shadow: 0 0 10px #EC0000;
    transition: background-color 0.3s ease;
}

.tk_wishlist-btn-box:nth-child(2) > button {
    background-color: #ffe055;
}

.tk_wishlist-btn-box:nth-child(2) > button:hover {
    cursor: pointer;
    background-color: #ffc700;
    color: #2e2e2e;
    box-shadow: 0 0 10px #EC0000;
    transition: background-color 0.3s ease;
}

/*.tk_wishlist-btn-box:nth-child(3) > button {*/
/*    background-color: #FFE1E1;*/
/*}*/

.tk_wishlist-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jp-text {
    margin-left: 20px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
}

.eg-text {
    font-size: 1.4rem;
    font-weight: bold;
}

.tk_wishlist-img-box {
    border: transparent;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
}

.tk_wishlist-btn-box img {
    width: 2.5rem;
    padding: 1rem;
}

.tk_menu-bar {
    width: 100%;
    height: 5rem;
    background-color: #ffd1d0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tk_bottom-bar{
    background-color: #ffd1d0;
}

a.wishlist-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 6.8rem;
    width: 21.5rem;
    gap: 3rem;
    background-color: #FFE1E1;
    border-radius: 20px;
    border: 3px solid #EC0000;
    outline: 2px solid #ffc700;
    color: inherit;
    cursor: pointer;
}

.tk_wishlist-btn-box:nth-child(1) > a.wishlist-button {
    background-color: #FFE1E1;
}

.tk_wishlist-btn-box:nth-child(2) > a.wishlist-button {
    background-color: #ffc700;
}

.tk_wishlist-btn-box:nth-child(3) > a.wishlist-button {
    background-color: #FFE1E1;
}

.tk_wishlist-btn-box:nth-child(3) > a.wishlist-button:hover {
    background-color: #ff6c6f;
    color: white;
    box-shadow: 0 0 10px #EC0000;
    transition: background-color 0.3s ease;
}

.tk_wishlist-a-img-box {
    border: transparent;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 769px) {
    .tk_menu-header{
        width: 30vw;
        margin: auto;
        gap: 4rem;
    }

    .tk_wishlist-container {
        width: 30vw;
        margin: auto;
    }

    .tk_wishlist-body {
        width: 30vw;
        margin: auto;
    }

    .tk_wishlist-btn-container {
        width: 30vw;
        margin: auto;
    }
}