* {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
}

body {
    background-color: #fffbf7;
}

/* 메뉴 - 헤더 */
.je_menu-bar {
    width: 100%;
    height: 3rem;
    background-color: #ffd1d0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#je_logo {
    width: 2rem;
}
#je_logo img {
    width: 100%;
}

#je_wishlist-setting--container {
    width: 100vw;
    height: 100vh;
}

/* 타이틀 */
.je_page-title {
    /* background-color: aquamarine; */
    margin-top: 2rem;
}

.je_page-title-txt,
.je_page-title-line {
    display: flex;
    justify-content: center;
}

.je_page-title-txt {
    font-size: 1rem;
    font-weight: 900;
}

.je_page-title-line > img {
    width: 10rem;
}

/* 페이지 content */

.je_page-content {
    margin: 1rem 2rem;
}

.je_wishlist {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    position: relative;
}

.je_wishlist-icon {
    width: 40%;
    font-size: 1rem;
}

.je_wishlist-img {
    display: flex;
    justify-content: center;
    img {
        width: 50%;
    }
}
.je_wishlist-title {
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
}

/* on-off 버튼 */
.je_wishlist-onoff {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
}
#je_present-switch,
#je_money-switch,
#je_funding-switch {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* OFF 일때 모습 */
.switch_label {
    position: relative;
    cursor: pointer;
    display: inline-block; /*span이랑 label이 인라인요소이기 때문*/
    width: 9rem;
    height: 2rem;
    background-color: #d9d9d9;
    border: 2px solid #d9d9d9;
    border-radius: 1.5rem;
    transition: 0.5s;
}

/* .switch_label:hover {
  background-color: #efefef;
} */

.je_onoff-button {
    position: absolute;
    top: 2px;
    left: 5px;
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 1.8rem;
    background-color: #5c5c5c;
    transition: 0.5s;
}

/* ON일 떄 모습 */
#je_money-switch:checked + .switch_label,
#je_present-switch:checked + .switch_label,
#je_funding-switch:checked + .switch_label {
    background-color: #ffdbdb;
    border: 2px solid #ffdbdb;
}

/* #je_money-switch:checked + .switch_label:hover,
#je_present-switch:checked + .switch_label:hover,
#je_funding-switch:checked + .switch_label:hover {
  background-color: #ffaeae;
} */

/* motion */
#je_money-switch:checked + .switch_label .je_onoff-button,
#je_present-switch:checked + .switch_label .je_onoff-button,
#je_funding-switch:checked + .switch_label .je_onoff-button {
    left: 6.8rem;
    background-color: #ff7e81;
    box-shadow: 1px 2px 3px #00000020;
}

/* 추가사항 */
#je_amazon-link {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 0.5rem;
    bottom: -1.3rem;
    right: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease;

    input {
        width: 15rem;
        padding: 0.5rem;
        text-align: center;
    }

    button {
        font-size: 12px;
        width: 2.3rem;
        height: 2.3rem;
        border-radius: 1.5rem;
        border: none;
        background-color: #ff7e81;
        color: #ffffff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

#je_amazon-link.show {
    opacity: 1;
}

#je_nextpage-button {
    display: flex;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.5s ease;

    button {
        width: 9rem;
        border-radius: 1rem;
        background-color: #ff3b3f;
        border: 1px solid #c82626;
        box-shadow: 0.1rem 0.1rem 0.6rem #c82626;
        padding: 0.5rem;
        color: white;
        font-size: 12px;
        font-weight: 900;
    }
}

#je_nextpage-button.show {
    opacity: 1;
}
