* {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #f8f8f8;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-image: url("/img/Paper_BG.png");
}

/*.hw_header {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    height: 5rem;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    z-index: 1000;*/
/*}*/

/*.menubar {*/
/*    width: 100%;*/
/*    background-color: #ffffff;*/
/*    height: 2.5rem;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/

/*.hw_maker {*/
/*    width: 100%;*/
/*    background-color: #FFD1D0;*/
/*    height: 2.5rem;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    border-bottom: 1px solid #ddd;*/
/*    color: #ff494c;*/
/*}*/

.je_page-title {
    width: 100vw;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffdbdb;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    color: #ff494c;
}

.hw_container {
    display: flex;
    width: 100vw;
    height: calc(100vh - 4rem); /* 전체 높이에서 헤더를 뺀 크기 */
    overflow-x: auto; /* 가로 스크롤 활성화 */
    scroll-snap-type: x mandatory; /* 스크롤 스냅을 가로로 설정 */
    scroll-behavior: smooth;
}

.hw_card {
    perspective: 1500px;
    flex: 0 0 90%;
    height: 82%;
    margin: 5% 20%; /* 좌우에 20%의 공백을 설정하여 화면 중앙에 배치 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.6s ease;
    cursor: pointer;
    scroll-snap-align: center; /* 스크롤 시 카드가 화면의 중앙에 위치하도록 설정 */
}

.image-container {
    width: 100%; /* card-front와 맞도록 크기 조정 */
    height: 100%; /* card-front와 맞도록 크기 조정 */
    border-radius: 15px;
    overflow: hidden;
}
/*.card-inner {*/
/*    width: 100%; !* 카드 크기를 컨테이너에 맞게 조정 *!*/
/*    height: 100%; !* 카드 높이를 컨테이너에 맞게 조정 *!*/
/*    transform-style: preserve-3d; !* 3D 변환을 위한 설정 *!*/
/*    transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);*/
/*}*/

.card-inner {
    width: 80%;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    border: red solid 1.5px;
    border-radius: 15px;
    transform: rotateY(0deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* 플립 시 뒷면이 보이지 않도록 설정 */
    border-radius: 15px;
}



.card-front {
    /*z-index: 2;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.card-back {
    background-color: #FFD1D0;
    transform: rotateY(180deg); /* 추가: 뒷면은 180도 회전 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding: 1rem;*/
    box-sizing: border-box;
    border: yellow solid 1px;
    border-radius: 15px;
    /*font-size: 15px;*/
}

.flipped {
    transform: rotateY(180deg); /* 카드 플립 시 전체를 180도 회전 */
}


.toggle-details{
    color: red;
}

.card-front img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: yellow solid 1px;
    object-fit: cover;
    transition: transform 0.6s ease; /* 플립 시 부드럽게 이미지가 전환되도록 함 */
}

.slider-indicators {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 4rem;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #ff5155;
}

.empty-card {
    width: 80%;
    height: 200px;
    border: dashed 1.5px white;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
