* {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
body{
    background-color: #fffbf7;
}
.hw_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    background-color: #FFD1D0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.dropdown {
    display: compact;
}

.hw_maker {
    background-color: #FFD1D0;
}

.hw_container {
    width: 100%;
    height: calc(100% - 3rem); /* 고정된 헤더 높이를 고려하여 높이 조정 */
    margin-top: 3rem; /* 컨텐츠가 헤더 아래에서 시작되도록 조정 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.hw_logo img, .hw_mypage img {
    width: 1rem;
    height: 1rem;
}

ul.list {
    list-style-type: none;
}

.hw_list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 1.3rem;
}

.hw_tab-button {
    border-radius: 20px;
    background-color: #FFD1D0;
    border: 3px solid #c82626;
    width: 5rem;
    height: 2rem;
    text-align: center;
}

.active {
    background-color: #ff3b3f;
    color: white;
}


.show {
    display: block;
    width: 5rem;
    height: 5rem;
}

.hw_tab-content{
    display: grid;
    justify-content: space-around;
    height: 6rem;
    width: 20rem;
    background-color: #fff5f4;
    border: 3px solid #ffdbdb;
    border-radius: 15px;
    margin: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    border: 1px solid rgb(37, 37, 37);
    border-radius: 4px;
    background-color: #f5f5f5;
    font-weight: 400;
    color: rgb(37, 37, 37);
    padding: 12px;
    width: 200px;
    text-align: left;
    cursor: pointer;
    font-size: 12px;
    margin: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    font-weight: 400;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 12px;
    padding: 12px 20px;
}

.dropdown-content a:hover {
    background-color: #ececec;
}

.dropdown.show .dropdown-content {
    display: block;
}
