* {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #f8f8f8;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-image: url("/img/Paper_BG.png");
}

.je_page-title {
    width: 100vw;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffdbdb;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    color: #ff494c;
    position: absolute;
}

.hw_container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: calc(100vh - 3rem);
    overflow-x: hidden; /* 스크롤바를 숨김 */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; /* 부드러운 스크롤 효과 추가 */
}

.hw_card {
    min-width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}


.card {
    width: 82%;
    max-width: 100%;
    height: 72%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.image-container {
    width: 19.5rem;
    height: 78%;
    overflow: hidden;
    position: absolute;
    top: calc(50% - 2rem);
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px #ffc5c5;
    transition: filter 0.3s, box-shadow 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffefe;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}

.image-container.darken {
    filter: brightness(0.5);
}

.share-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    color: #ff5155;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: solid 1px #ff787b;
}
.share-button:hover{
    background-color: #ffeeee;
}
.share-button.active {
    background-color: #ff787b;
    color: #ffffff;
}

.card-back {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    width: 100%;
    height: 5rem;
    bottom: -13px;
}

.card-back button {
    flex: 1;
    margin: 0 1rem;
    padding: 0.5rem 0;
    border: 1px solid #ff7e81;
    border-radius: 10px;
    background-color: #ffe2e2;
    font-size: 0.9rem;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 6rem;
    height: 2.5rem;
}

.slider-indicators {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 4rem;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #ff5155;
}

.share-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 17rem;
}

.share-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#share-url {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#copy-button {
    padding: 8px 8px;
    background-color: #ff787b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}


