.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* 처음에는 보이지 않도록 설정 */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500vh;
    background-color: rgba(0, 0, 0, 0.4);
}

header {
    margin: 1rem 0 1rem 0;
    font-size: 1.6rem;
    color: salmon;
}

.tk_division-line-modal {
    border-top: 5px solid salmon;
    width: 100%;
}

.tk_allergy-title > div:nth-child(1) {
    margin: 1.5rem 0 0rem 0.2rem;
    display: flex;
    font-size: 1.2rem;
    border-style: solid;
    border-width: 0 0 0 5px;
    border-left-color: orangered;
    color: orangered;
    padding-left: 0.5rem;
}

.tk_allergy-title > div:nth-child(2) {
    margin: 0rem 0 0.5rem 1rem;
    display: flex;
    font-size: 0.8rem;
    color: salmon;
}

.tk_allergy-type {
    display: flex;
    margin: 1.5rem 0 0.5rem 0.5rem;
}

/*첫번째 고기 육은 간격을 짧게 */
.tk_allergy-type-first {
    display: flex;
    margin: 2rem 0 0.5rem 0.5rem;
}

.tk_allergy-contents {
    display: flex;
    margin: 1rem 0 0.5rem 0.5rem;
}

.tk_allergy-contents {
    font-size: 1rem;
}

.tk_others-allergy {
    display: inline-block;
    margin: 0 0 0.5rem 0.5rem;
}

.tk_others-allergy > div:nth-child(1) {
    text-align: left;
}
.tk_others-allergy > div:nth-child(2) {
    text-align: left;
}

.tk_allergy-contents label {
    border: 3px solid salmon;
    margin-right: 0.5rem;
    font-size: 0.9rem;
    color: salmon;
}

.cb3 {
    padding: 0.4rem;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    overflow: auto;
}

label.cb3:has(input[type="checkbox"]:checked) {
    background-color: salmon;
    color: white;
    animation: pulse 0.7s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.cb3 {
    padding: 0.4rem;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    overflow: auto;
}

.cb3:hover {
    background-color: #eeeeee;
}

.tk_allergy-mains {
    display: inline-block;
    overflow-y: scroll;
    height: 30rem;
    scrollbar-width: thin;
    border-style: solid;
    border-width: 0 0 0 3px;
    border-left-color: transparent;
}

/*모달 내용물 관한 위치 및 꾸미기*/
.modal_body {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    padding-bottom: 2rem;
}

#etc-allergy {
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
    margin: 0 0 1rem 0;
    padding: 1rem;
}

.allergy-wrap {
    margin: 0.5rem;
}

.allergy-tag {
    background-color: salmon;
    border-radius: 5px;
    color: white;
    margin-right: 0.2rem;
    padding: 5px;
}

.allergy-del {
    background-color: #c82626;
    border-radius: 5px;
    color: white;
    padding: 2px;
}

.tk_insert-others {
    border: 2px solid salmon;
    background-color: salmon;
    color: white;
    padding: 1rem;
}

.allergySearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid salmon;
}

.allergySearch input {
    width: 65%;
    height: 2rem;
    border: 3px solid grey;
}

.allergySearch button {
    width: 30%;
    font-size: 0.7rem;
    border-radius: 10px;
    padding: 0.5rem;
    color: tomato;
    cursor: pointer;
    border: 2px solid tomato;
    background-color: transparent;
    margin-bottom: 1rem;
}

.tk_allergy-search-btn {
    margin: 1.5rem;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

.tk_modal-button {
    font-size: 1.2rem;
    background-color: salmon;
    color: white;
    border: transparent;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    border-radius: 20px;
}

.tk_modal-button2 {
    font-size: 1.2rem;
    background-color: lightpink;
    color: white;
    border: transparent;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    border-radius: 20px;
}

.tk_modal-reset-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.tk_modal-button3 {
    margin: 0.2rem 0.5rem 0 0;
    font-size: 0.7rem;
    border: transparent;
    cursor: pointer;
    /*transition: all 0.8s ease;*/
    color: red;
}

.tk_modal-button3:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.modal-close {
    position: absolute;
    top: -1rem;  /* 모달 본체 위로 이동 */
    right: -1rem;  /* 모달 본체 오른쪽으로 이동 */
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 50%;
    font-size: 1.5rem;
    color: black;
    z-index: 1000; /* 모달보다 위에 위치하도록 설정 */
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-close:hover {
    transition: 0.3s ease-out;
    color: red;
}