.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* 처음에는 보이지 않도록 설정 */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.tk_yellow_border {
    border: 2px solid #FFC700;
    border-radius: 30px;
    margin: 1rem 1rem 2.5rem 1rem;
    background-color: #FFFBF7;
}

.tk_red-border {
    border: 2px solid red;
    border-radius: 30px;
    background-color: transparent;
    margin: 0.5rem
}

header {
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

header div:nth-child(1) {
    font-size: 1.5rem;
    color: #474747;
}

header div:nth-child(2) {
    font-size: 1rem;
    color: #797979;
}

.tk_division-line-modal {
    border-top: 2px solid #FF8B8B;
    width: 100%;
}

.tk_allergy-title > div:nth-child(1) {
    margin: 1.5rem 0 0rem 0.2rem;
    display: flex;
    font-size: 1.2rem;
    border-style: solid;
    border-width: 0 0 0 5px;
    border-left-color: orangered;
    color: orangered;
    padding-left: 0.5rem;
}

.tk_allergy-title > div:nth-child(2) {
    margin: 0rem 0 0.5rem 1rem;
    display: flex;
    font-size: 0.8rem;
    color: salmon;
}

.tk_allergy-type {
    display: flex;
    margin: 1.5rem 0 0.5rem 0.5rem;
}

/*첫번째 고기 육은 간격을 짧게 */
.tk_allergy-type-first {
    display: flex;
    margin: 2rem 0 0.5rem 0.5rem;
}

.tk_allergy-contents {
    display: flex;
    margin: 1rem 0 0.5rem 0.5rem;
}

.tk_allergy-contents {
    font-size: 1rem;
}

.tk_others-allergy {
    display: flow;
    justify-content: center;
    align-items: center;
}

.tk_others-allergy > div:nth-child(1) {
    text-align: left;
}
.tk_others-allergy > div:nth-child(2) {
    text-align: left;
}

.tk_allergy-contents label {
    border: 3px solid #FF5050;
    margin-right: 0.5rem;
    font-size: 0.9rem;
    color: #696969;
}

.cb3 {
    padding: 0.4rem;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    overflow: auto;
}

label.cb3:has(input[type="checkbox"]:checked) {
    background-color: #FF5050;
    color: white;
    animation: pulse 0.7s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.cb3 {
    padding: 0.4rem;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    overflow: auto;
}

.cb3:hover {
    background-color: #ffdada;
}

.tk_allergy-mains {
    display: inline-block;
    overflow-y: scroll;
    height: 30rem;
    scrollbar-width: thin;
    border-style: solid;
    border-width: 0 0 0 3px;
    border-left-color: transparent;
}

/*모달 내용물 관한 위치 및 꾸미기*/
.modal_body {
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

#etc-allergy {
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
    padding: 0.5rem;
}

.allergy-wrap {
    margin: 0.5rem;
}

.allergy-tag {
    background-color: #FF5050;
    border-radius: 7px;
    color: white;
    margin-right: 0.2rem;
    padding: 5px;
}

.allergy-del {
    background-color: #c82626;
    border-radius: 30px;
    color: white;
    padding: 1px 3px 3px 3px;
}

.tk_insert-others {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    background-color: transparent;
    color: #797979;
    padding: 1rem;
    font-size: 0.8rem;
}

.allergySearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.allergySearch-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.allergySearch input {
    width: 100%;
    height: 2rem;
    border: 3px solid #FF5050;
    border-radius: 10px;
    padding: 0.2rem;
}

.allergySearch button {
    width: 30%;
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    border: 2px solid #FF8B8B;
    background-color: #FF5050;
}

.tk_allergy-search-btn {
    margin: 1.5rem;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

.tk_modal-button {
    font-size: 0.8rem;
    color: #FFFFFF;
    background-color: #FF5050;
    border: 3px solid #FF8B8B;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 10px;
}

.tk_modal-button2 {
    font-size: 0.8rem;
    color: #F03434;
    background-color: transparent;
    border: 3px solid #FFC700;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 10px;
}

.modal-close-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem;
}

.modal-close {
    background-color: transparent;
    border: 2px solid #FFC700;
    font-size: 1.3rem;
    padding: 0.1rem 0.4rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    color: red;
}

.modal-close:hover {
    transition: 0.3s ease-out;
}