* {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.tk_division-line {
    border-top: 1px solid #444444;
    margin: 2rem 0 2rem 1rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

body {
    background-color: #fffbf7;
}

/* 메뉴 - 헤더 */

.tk_menu-bar {
    width: 100%;
    height: 10rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tk_logo-icon,
.tk_menu-icon {
    width: 4.5rem;
    img {
        width: 50%;
    }
}

/* 메뉴 - 헤더 */
.tk_menu-header {
    height: 4rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 4rem;
    color: #2e2e2e;
}

@media (min-width: 769px) {
    .tk_menu-header{
        width: 100%;
        margin: 0 auto;
        gap: 4rem;
    }


}

/*.tk_menu-bar {*/
/*    width: 100%;*/
/*    height: 3rem;*/
/*    background-color: #ffd1d0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*#tk_logo {*/
/*    width: 2rem;*/
/*}*/

/*#tk_logo img {*/
/*    width: 100%;*/
/*}*/

#tk_survey-container {
    width: 100%;
}

.tk_survey-title {
    background-color: #FFDBDC;
}

.tk_survey-title-bigTitle {
    font-size: 1.2rem;
    color: #FE4A4C;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.tk_survey-container {
    width: 100%;
}

.tk_iphone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tk_yellow_border {
    border: 2px solid #FFC700;
    border-radius: 30px;
    margin: 1rem 1rem 2.5rem 1rem;
}

.tk_yellow_border-2 {
    border-top: 3px solid #FF8B8B;
    padding: 2rem 0 2rem 0;
}

.tk_red-border {
    border: 2px solid red;
    border-radius: 30px;
    background-color: #FFFBF7;
    margin: 0.5rem
}

.tk_survey-container {
    overflow-y: scroll;
}
.tk_survey-container::-webkit-scrollbar {
    display: none;
}

/*form 태그쓸때 여백생기는 부분 없애기|작성자 현쓰애미*/
form {
    display : inline;
    margin: 0;
    padding: 0;
}

.survey-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tk_survey-companions-input-container {
    display: flex;
    gap: 1rem;
}

.tk_survey-companions-titleName-container {
    align-items: center;
    font-size: 1rem;
    gap: 0.5rem;
    color: #A0A0A0;
}

.tk_survey-titleName-container {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.5rem;
    margin: 2rem;
    color: #A0A0A0;
}

/*설문조사 각 input 이름*/
.tk_survey-titleName {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.tk-survey-essential {
    margin-bottom: 1rem;
    border: 1px solid red;
    border-radius: 5px;
    padding: 0.2rem 0.2rem;
    background: red;
    color: wheat;
    font-size: 1rem;
}

.tk_attention-if-change {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
}

.tk_attention-if-change div {
    border: 3px solid #FF8B8B;
    border-radius: 20px;
    background-color: #FF5050;

}

.tk_survey-accompany-titleName {
    font-size: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    font-weight: bold;
}

.tk_survey-accompany-titleName-2 {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 0.5rem;
    margin: 1.5rem 0 1.5rem 0;
    color: #696969;
}

.tk_survey-accompany-essential {
    margin: 1rem 0 1rem 0;
    border: 1px solid red;
    border-radius: 5px;
    padding: 0.2rem 0.2rem;
    background: red;
    color: wheat;
    font-size: 0.8rem;
}

/*설문조사 모든 select 태그 꾸미기*/
select {
    font-size: 1.1rem;
    width: 17rem;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSA2TDEwIDE1TDE5IDZIMTcuMUwxMCAxM0wzLjkgNkgxWiIgZmlsbD0iIzY2NiIvPjwvc3ZnPg==) no-repeat right 10px center;
    background-color: white;
}

.tk_box-title{
    margin: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
}

.tk_box-title span:nth-child(1), span:nth-child(3){
    color: red;
}

.tk_box-title span:nth-child(2){
    color: black;
}

.tk_justName, .tk_kataName, .tk_romeName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

.tk_justName > div:nth-child(2), .tk_kataName > div:nth-child(2), .tk_romeName > div:nth-child(2)
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/*설문조사 이름 input 꾸미기*/
.tk_justName input, .tk_kataName input, .tk_romeName input {
    width: calc(42% - 10px);
    padding: 0.5rem;
    font-size: 1.3rem;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid #A0A0A0;
    box-sizing: border-box;
    background-color: #FFFBF7;
}

.tk_companions-justName input,
.tk_companions-kataName input,
.tk_companions-romeName input {
    width: calc(42% - 10px);
    padding: 0.5rem;
    font-size: 1.3rem;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid #A0A0A0;
    box-sizing: border-box;
    background-color: #FFFBF7;
}

.tk_survey-gender-checkbox {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 6rem;
}

.tk_survey-gender-checkbox > div {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tk_survey-gender {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

/*설문조사 주소 input / button 꾸미기*/
.tk_survey-postcode {
    font-size: 1.1rem;
    margin-bottom: 3rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    align-items: end;
    gap: 1rem;
}

.tk_survey-postcode > div:nth-child(1) {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.tk_survey-postcode > div:nth-child(1) span {
    color: #A0A0A0;
}

.tk_survey-postcode > div:nth-child(2) {
    display: flex;
    justify-content: right;
    align-items: center;
}

.tk_survey-postcode input {
    width: calc(80% - 10px);
    padding: 0.1rem;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid #A0A0A0;    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2rem;
    margin-left: 0.2rem;
    background-color: #FFFBF7;
}

.tk_survey-postcode button {
    width: 13%;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    color: red;
    font-size: 0.8rem;
}

/*상세주소 input 꾸미기*/
.tk_survey-address {
    display: flex;
    flex-direction: column;
}

.tk_survey-address input {
    width: calc(85% - 8px);
    padding: 0.5rem;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid #A0A0A0;
    background-color: #FFFBF7;
}

.tk_survey-address input:nth-child(2) {
    margin-bottom: 2rem;

}


/*이메일, 폰 input 꾸미기*/
.tk_survey-email input, .tk_survey-phone input{
    width: calc(85% - 8px);
    padding: 0.5rem;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid #A0A0A0;
    background-color: #FFFBF7;
}

.tk_survey-allergy {
    display: flex;
    flex-direction: column;
    border-top: 3px solid #FF8B8B;
}

.allergy-first-box {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    gap: 1rem;
    margin-top: 3rem;
}

.tk_survey-allergy-detail {
    display: flex;
    justify-content: center;
}

. tk_survey-allergy-detail2 {
    display: flex;
    justify-content: flex-start;
}


.tk_survey-allergy-checkbox {
    display: flex;
    margin-bottom: 1rem;
}

.tk_survey-allergy-checkbox span {
    color: #696969;
    font-size: 1.2rem;
}

.tk_survey-allergy-detail input {
    width: calc(85% - 8px);
    padding: 0.5rem;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid #A0A0A0;
    background-color: #FFFBF7;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2rem;
    margin-right: 1.5rem;
}

.tk_survey-allergy-detail2 input {
    width: calc(85% - 8px);
    padding: 0.5rem;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid #A0A0A0;
    background-color: #FFFBF7;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.tk_survey-party {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 1.5rem;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.tk_survey-party-checkbox {
    display: flex;
    align-items: center;
}

.remove-party-member {
    font-size: 1rem;
    background-color: white;
    border: 2px solid #FFC700;
    color: #FF5050;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}

.tk_survey-party-button {
    font-size: 1rem;
    background-color: #FF5050;
    border: 2px solid #FF8B8B;
    color: white;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}

.tk_survey-party-checkbox span {
    color: #696969;
    font-size: 1.2rem;
}

.party-member {
    margin-top: 1.5rem;
}

.tk_survey-message-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.tk_survey-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 55rem;
    background-color: white;
    border-radius: 30px;
}

.tk_survey-messageImg {
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tk_imgButton-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.tk_imgButton-container button {
    border: 2px solid #FFC700;
    border-radius: 10px;
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    width: 5rem;
    color: #FF5050;
    background-color: #FFF4F4;
    font-size: 1rem;
}

.tk_survey-messageText {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tk_survey-messageText div {
    width: 95%;
    height: 95%;
}

.tk_messageImg {
    width: 95%;
    height: 95%;
    border: 2px solid red;
    border-radius: 30px;
    background-color: white;
    padding: 0.5px;
}

.tk_survey-messageText textarea {
    width: 90%;
    height: 86%;
    border: 2px solid red;
    border-radius: 30px;
    background-color: #FFFBF7;
    resize: none;
    overflow-y: scroll;
    padding: 1rem;
}

dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40rem;
    width: 25rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}
.close-button {
    float: right;
    font-size: 0.9rem;
    border: none;
    background: none;
    cursor: pointer;
}

.sample-imgList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    gap: 0.3rem;
    padding: 0.1rem;
    list-style:none;
}

.sample-imgList-item {
    border: 5px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sample-imgList-item:hover {
    border: 5px solid coral;
}

.sample-imgList-item:active {
    border: 5px solid coral;
}

.sample-imgList-item img{
    width: 7rem;
    height: 12rem;
}

.ImgModalTitle{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
    color: black;
}

.ImgModalList {
    display: flex;
    justify-content: left;
    text-align: center;
    margin: 1rem 0 0.5rem 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    border-left: 3px solid red;
}

.ImgModalCelebrate {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem 0 1rem 0;
    padding: 0.2rem 0.2rem 0.2rem .2rem;
    background-color: #ffd1d0;
    border-radius: 2px;
    height: 5%;
    color: indianred;
    align-items: center;
}

.confirmImgButton-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#confirmImgButton {
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    border-radius: 15px;
    background-color: lightcoral;
    color: white;
    border: transparent;
}

.tk_survey-entry-container {
    border-top: 3px solid #FF8B8B;
    border-bottom: 3px solid #FF8B8B;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.tk_box-entry-title span:nth-child(1) {
    color: red
}

.tk_box-entry-title {
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
}

.tk_survey-entryTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#g_relation_other {
    display: inline-block;
    padding: 0.5rem 0.2rem 0.5rem 0.5rem;
    width: 15rem;
    font-size: 1.1rem;
    border: 1px solid #ccc;
}

.tk_survey-line2 {
    width: 14rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.survey-selection {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    font-size: 1.2rem;
}

.survey-selection-option {
    position: relative;
    padding: 1.2rem;
    cursor: pointer;
}

.survey-selection-option img {
    position: absolute;
    top: -0.5rem;
    left: -0;
    width: 100%;
    height: 120%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.survey-selection-option img.hidden {
    display: none;
}

.survey-selection-option img.visible {
    display: block;
    opacity: 1;
}

.survey-last-submit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}

.survey-last-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.survey-last-img img {
    width: 50%;
}

.party-container {
    border-left: 3px solid #FF8B8B;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.tk_survey-guestType-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 3rem;
}

.tk_survey-guestType-checkbox div{
    gap: 0.5rem;
    display: flex;
    text-align: center;
    align-items: center;
}

.tk_survey-relationship div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tk_survey-relationship-detail {
    margin-bottom: 2rem;
}

.tk_survey-relationship-detail div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.en-party-explain-container {
    padding-bottom: 3rem;
    border-bottom: 3px solid #FF8B8B;
}

.what-is-en-party {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #595959;
}

.tk_box-party-title {
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
}

.tk_box-party-title span:nth-child(1), .tk_box-party-title span:nth-child(3) {
    color: #FFC700;
}

.tk_box-party-title span:nth-child(2) {
    color: #474747;
}

/* 縁結び封筒 */
.survey-submit-button {
    width: 50%;
    height: 9rem;
    border-radius: 50px 50px 10px 10px;
    border: solid 1px rgba(255, 90, 85, 0.7);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 35%;
    z-index: 1;
}

.main-enMusubi-envelope-bottom {
    width: 97%;
    height: 10.6rem;
    border-radius: 45px 45px 0 0;
    border: 1px solid #FFC700;
    border-bottom: none;
    background-color: transparent;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.main-enMusubi-envelope-paper {
    width: 88%;
    height: 10rem;
    border-radius: 10px 10px 0 0;
    background-color: rgba(255, 251, 247, 0.9);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    position: absolute;
    margin: auto;
    top: 5%;
    left: 50%;
    right: 0;
    bottom: 0.5rem;
    transform: translateX(-50%);
    transition: bottom 1s ease-in-out;
    z-index: 3;
}

.move-up {
    bottom: 25%;
}

.main-enMusubi-envelope-text {
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.enlarge {
    animation: text-enlarge 1s ease-in-out forwards;
}

@keyframes text-enlarge {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -100%) scale(1.4);
    }
}

.main-enMusubi-envelope-top {
    width: 100%;
    height: 7rem;
    clip-path: polygon(0 0, 5% 0, 50% 40%, 95% 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 0 0 10px 10px;
    background-color: #ffd6d5;
    transition: background-color 0.5s ease-in-out;
    border: 2px solid #FFC700;
    border-top: none;
    position: relative;
    top: 25%;
    z-index: 5;
}

.change-color {
    background-color: #ff908e;
}

.main-enMusubi-envelope-logo-img {
    position: absolute;
    top: 45%;
    left: 41%;
    z-index: 6;
}

.main-enMusubi-envelope-logo-img img {
    width: 2.2rem;
    height: auto;
}