

.tk_survey-guestType label {
    margin-right: 10px;
    cursor: pointer;
}

.tk_survey-gender label {
    margin-right: 10px;
    cursor: pointer;
}

.cb1 {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 100%;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transition: border 0.2s ease;
}

.cb1:hover {
    background-color: #cecece; /* 마우스를 올렸을 때 테두리 색을 회색으로 변경 */
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .cb1 {
    border-width: 8px;
    border-color: #ed0606;
    animation: pulse 0.5s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/*알레르기 및 동반자 checkbox 꾸미기*/
.tk_survey-allergy-checkbox label {
    margin-right: 10px;
}

.tk_survey-party-checkbox label {
    margin-right: 10px;
}

.cb2 {
    height: 2rem;
    width: 2rem;
    border-radius: 20%;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: 3px solid #ed0606;
    overflow: hidden;
}

.cb2:hover {
    background-color: #cecece; /* 마우스를 올렸을 때 테두리 색을 회색으로 변경 */
}

.cb2::before, .cb2::after {
    position: absolute;
    width: 0.3rem;
    background-color: white;
    box-sizing: border-box;
    display: inline-block;
    transform-origin: left top;
    border-radius: 5px;
    content: ' ';
    transition: opacity ease 0.5s;
}

.cb2::before {
    top: 20px;
    left: 11px;
    transform: rotate(-135deg);
}

.cb2::after {
    top: 6px;
    left: -2.5px;
    transform: rotate(-45deg);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .cb2 {
    border: 3px solid #ed0606;
    background-color: #ed0606;
}

input[type="checkbox"]:checked + .cb2::after {
    height: 25px;
    animation: bottomcheck 0.2s ease 0s forwards;
}

input[type="checkbox"]:checked + .cb2::before {
    height: 30px; /* 첫 번째 내려가는 짝대기의 길이를 35px로 설정 */
    animation: topcheck 0.5s ease 0s forwards;
}

@keyframes bottomcheck {
    0% {
        height: 0;
    }
    100% {
        height: 20px;
    }
}

@keyframes topcheck {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: 30px;
    }
}