.cb1 {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transition: border-color ease 0.2s;
    cursor: pointer;
}

.cb1::before, .cb1::after,
.cb2::before, .cb2::after {
    position: absolute;
    height: 0;
    width: 4px;
    background-color: #ed0606;
    box-sizing: border-box;
    display: inline-block;
    transform-origin: left top;
    border-radius: 5px;
    content: ' ';
    transition: opacity ease 0.5;
}
.cb1::before, .cb2::after{
    background-color: #CD0000;
}
.cb1::before, .cb2::before {
    top: 14.4px;
    left: 8.2px;
    box-shadow: 0 0 0 1px transparent;
    transform: rotate(-135deg);
}
.cb1::after, .cb2::after{
    top: 7.4px;
    left: 1px;
    transform: rotate(-45deg);
}
input[id="familyCheckbox"]:checked + .cb1 {
    border-color: #ed0606;
}

input[id="familyCheckbox"]:checked + .cb1::after{
    height: 10px;
    animation: bottomcheck 0.2s ease 0s forwards;
}

input[id="familyCheckbox"]:checked + .cb1::before{
    height: 24px;
    animation: topcheck 0.4s ease 0s forwards;
}

input[id="friendCheckbox"]:checked + .cb1 {
    border-color: #ed0606;
}

input[id="friendCheckbox"]:checked + .cb1::after{
    height: 10px;
    animation: bottomcheck 0.2s ease 0s forwards;
}

input[id="friendCheckbox"]:checked + .cb1::before{
    height: 24px;
    animation: topcheck 0.4s ease 0s forwards;
}

input[id="colleaguesCheckbox"]:checked + .cb1 {
    border-color: #ed0606;
}

input[id="colleaguesCheckbox"]:checked + .cb1::after{
    height: 10px;
    animation: bottomcheck 0.2s ease 0s forwards;
}

input[id="colleaguesCheckbox"]:checked + .cb1::before{
    height: 24px;
    animation: topcheck 0.4s ease 0s forwards;
}

input[id="othersCheckbox"]:checked + .cb1 {
    border-color: #ed0606;
}

input[id="othersCheckbox"]:checked + .cb1::after{
    height: 10px;
    animation: bottomcheck 0.2s ease 0s forwards;
}

input[id="othersCheckbox"]:checked + .cb1::before{
    height: 24px;
    animation: topcheck 0.4s ease 0s forwards;
}

.relationship-container label {
    margin-right: 1rem;
}

input[id="groomCheckbox"]:checked + .cb1 {
    border-color: #ed0606;
}

input[id="groomCheckbox"]:checked + .cb1::after{
    height: 10px;
    animation: bottomcheck 0.2s ease 0s forwards;
}

input[id="groomCheckbox"]:checked + .cb1::before{
    height: 24px;
    animation: topcheck 0.4s ease 0s forwards;
}

input[id="brideCheckbox"]:checked + .cb1 {
    border-color: #ed0606;
}

input[id="brideCheckbox"]:checked + .cb1::after{
    height: 10px;
    animation: bottomcheck 0.2s ease 0s forwards;
}

input[id="brideCheckbox"]:checked + .cb1::before{
    height: 24px;
    animation: topcheck 0.4s ease 0s forwards;
}

input[id="allergyCheckbox"]:checked + .cb2 {
    border-color: #ed0606;
}

input[id="allergyCheckbox"]:checked + .cb2::after{
    height: 10px;
    animation: bottomcheck 0.2s ease 0s forwards;
}

input[id="allergyCheckbox"]:checked + .cb2::before{
    height: 24px;
    animation: topcheck 0.4s ease 0s forwards;
}

input[id="allergyCheckbox2"]:checked + .cb2 {
    border-color: #ed0606;
}

input[id="allergyCheckbox2"]:checked + .cb2::after{
    height: 10px;
    animation: bottomcheck 0.2s ease 0s forwards;
}

input[id="allergyCheckbox2"]:checked + .cb2::before{
    height: 24px;
    animation: topcheck 0.4s ease 0s forwards;
}

input[type="checkbox"] {
    display: none; /* 모든 체크박스 input 요소 숨기기 */
}

.couple-container label {
    margin-right: 1rem;
}

.allergy-question label {
    margin-right: 1rem;
    margin-left: 5rem;
}


@keyframes bottomcheck {
    0% {
        height: 0;
    }
    100% {
        height: 10px;
    }
}
@keyframes topcheck {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: 24px;
    }
}