* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #FFF5F4;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.login-container {
    padding: 30px;
    /*background-color: #ffffff;*/
    /*border-radius: 10px;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    width: 100%;
    /*max-width: 400px;*/
}

.login-container p {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group .fixed-label {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #aaa;
    font-size: 10px;
    /*background-color: #FFF5F4;*/
    padding: 0 5px;
    pointer-events: none;
}

.form-group input {
    width: 100%;
    height: 54px;
    padding: 14px 12px 0 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

.form-group input::placeholder {
    color: #aaa;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    height: 48px;
    padding: 10px;
    background-color: rgb(253, 223, 225);
    border: none;
    color: #EC0000;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em;
}

.login-btn:hover {
    background-color: #F8C8C9;
}

.error {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}

.login-options {
    text-align: center;
    margin-top: 15px;
}

.login-options a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.login-options a:hover {
    text-decoration: underline;
}

.social-login {
    text-align: center;
    margin-top: 15px;
}

.social-login img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

