* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif JP', serif;
}

.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('/resources/img/paperBG.png');
    background-size: auto;
    background-repeat: repeat;

}

.login-deco-img {
    position: absolute;
    top: 6rem;
    display: flex;
    justify-content: center;
}

.login-deco-img img {
    width: 35%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

.login-box {
    margin-top: 8rem;
    width: 80%;
}

.login-container p {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 1rem;
    position: relative;
}

.form-group .fixed-label {
    position: absolute;
    color: #696969;
    font-size: 10px;
    font-weight: bold;
    padding: 7px 10px;
}

.form-group input {
    width: 100%;
    height: 60px;
    padding: 25px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}

.form-group input::placeholder {
    color: #aaa;
    font-size: 14px;
}

.clear-button,
.password-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #aaa;
    color: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.clear-button {
    width: 18px;
    height: 17px;
    right: 10px;
    font-size: 15px;
    /*line-height: 18px;*/
    padding-top: 1px;
}

.password-toggle {
    right: 40px;
    font-size: 16px;
}

.form-group input:focus + .password-toggle,
.form-group input:focus + .clear-button,
.form-group input:not(:placeholder-shown) + .password-toggle,
.form-group input:not(:placeholder-shown) + .clear-button {
    opacity: 1;
    visibility: visible;
}

.form-group input:focus ~ .password-toggle,
.form-group input:focus ~ .clear-button,
.form-group input:not(:placeholder-shown) ~ .password-toggle,
.form-group input:not(:placeholder-shown) ~ .clear-button {
    opacity: 1;
    visibility: visible;
}

.clear-button:hover,
.password-toggle:hover {
    background-color: #666666;
}

.login-btn {
    width: 100%;
    height: 48px;
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #ffeeee;
    color: #3f3f3f;
    outline: 1px solid #ffc700;
    border: 2px solid #ff5155;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #F8C8C9;
}

.login-error {
    width: 100%;
    height: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.error {
    color: #EC0000;
    font-size: 12px !important;
    font-weight: bold;
    margin-top: 5px;
}

.login-options {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
}

.login-options a {
    margin: 0 10px;
    text-decoration: none;
    color: #696969;
}

.login-options a:hover {
    color: #474747;
}

.social-login {
    text-align: center;
    margin-top: 15px;
}

.social-login img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

@media (min-width: 768px) {
    .login-container {
        width: 30vw;
        margin: auto;
    }
}