* {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.yr_comment_container {
    width: 100vw;
    height: 100vh;
    background-image: url('/img/Paper_BG.png');
}

.yr_title {
    font-size: 14px;
    font-weight: 900;
    height: 2.5rem;
    width: 100%;
    background-color: #FFDBDB;
    color: #FF494C;
    text-align: center;
    align-content: center;
}
.yr_comment_item_wrapper{
    margin-top: 20px;
}
.yr_comment_item {
    width: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #ccc;
    margin: auto;
    font-size: 1rem;
    padding: 10px;
}

.comment_top {
    display: flex;
    justify-content: space-between;
}
.comment_writer {
    font-size: 1rem;
}
.comment_writer span{
    color: #F03434;
}
.comment_date {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 0.7rem;
}
.comment_content {
    margin-left: 10px;
    float: left;
    display: flex;
}
.comment_writer_type {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
}
.comment_writer_type img{
    width: 1.1rem;
}
.yr_comment_delete button {
    font-size: 1rem;
    background: none;
    border: none;
}

.yr_comment_insert_wrapper {
    /*width: 45rem;*/
    /*margin: auto;*/
    height: 11rem;
}
.yr_comment_insert {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    /* justify-content: center; */
    /* align-items: center; */
    width: 75%;
}
.yr_comment_insert_type{
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
.yr_comment_insert_type img{
    width: 1rem;
}
.yr_comment_insert_type input[type="radio"]{
    transform: scale(1);
    margin-right: 8px;
}
.yr_comment_insert_writer input,
.yr_comment_insert_content input,
.yr_comment_insert_password input {
    font-size: 1.2rem;
    margin-bottom: 5px;
    border: none;
    padding: 0.5rem;
    width: 50%;
}
.yr_comment_insert_button{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.yr_comment_insert_button button {
    font-size: 1rem;
    width: 30%;
    background: #fff;
    border-radius: 10px;
}



/* 작성하기 버튼 */
.yr_comment_making_modal{
    width: 85%;
    height: 2rem;
    margin: 30px auto;
}
.yr_comment_modal{
    border-radius: 0.3rem;
    text-align: center;
    padding: 8px 20px;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: -1px;
    color: #fff;
    background-color: #FF8B8B;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 35% auto;
    padding: 10px;
    width: 70%;
    border-radius: 10px;
    border: 2px solid #F03434;
    box-shadow: 0 0 0 2.5px white, 0 0 0 4px #FFC700;
    height: 17rem;
}

#deleteModal p{
    height: 4rem;
    align-content: center;
    margin: 0 6%;
}
#deleteModal input{
    font-size: 1.2rem;
    margin: 0 25%;
    width: 50%;
}
#deleteModal .modal-content{
    height:12rem;
}
#deleteModal button {
    font-size: 1rem;
    width: 30%;
    background: #fff;
    border-radius: 10px;
    margin: 1.5rem 35%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 1rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}