div {
    width: 100%;
    height: 100%;
}

.hw_container {
    margin: 20px;
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.hw_card {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.hw_content, .hw_mytemplate-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.hw_content {
    border: 2px solid black;
}

.hw_mytemplate-button {
    border: 2px solid black;
    transform: rotateY(180deg);
}