* {
    margin: 0;
    font-family: 'Noto Serif JP', serif;
}

.myInfo-container {
    position: relative;
    width: 100vw;
    /*height: 100vh;*/
    /*background-color: #76ceff;*/
    background-image: url('/img/paperBG.png');
    background-size: auto;
    background-repeat: repeat;
}

/* My Information Header */
.myInfo-header {
    position: fixed;
    top: 0;
    /*left: 0;*/
    width: 100%;
    height: 6.8rem;
    background-image: url('/img/paperBG.png');
    background-size: auto;
}

.myInfo-header-logo {
    position: absolute;
    top: 18.5%;
    left: 6.5%;
}

.myInfo-header-logo img {
    width: 4rem;
    height: auto;
}

.myInfo-header-logo img {
    cursor: pointer;
}

.myInfo-header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.myInfo-content {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 6.8rem;
}

.myInfo-blank {
    width: 100%;
    margin: 0 auto;

}

.myInfo-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.myInfo-profile img {
    width: 6rem;
    height: auto;
    border-radius: 100%;
    border: 3px solid #ff5155;
}

.info-label {
    width: 100%;
    padding-bottom: 1.3rem;
    font-size: 18px;
    font-weight: bold;
    color: #555555;
}

.info-value {
    width: 100%;
    margin-bottom: 3rem;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
    border: none;
    border-bottom: 1px solid #696969;
    box-sizing: border-box;
}

.myInfo-info-box {
    width: 100%;
}

.myInfo-info-box-name {
    display: flex;
    flex-direction: column;
}

.info-label-small {
    font-size: 14px;
    font-weight: bold;
    color: #777777;
    margin-bottom: 1rem;
}

/* 漢字 */
.info-value-name-kanji {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: -1.5rem;
}

/* フリガナ */
.info-value-name-hurigana {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: -1.5rem;
}

/* ローマ字 */
.info-value-name-eng {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* Buttons */
/*.myInfo-info-update {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    padding-bottom: 4rem;*/
/*}*/

/*.myInfo-info-update button {*/
/*    margin-top: 0;*/
/*    margin-bottom: 0;*/
/*    margin-left: 0;*/
/*    padding: 0.5rem 1rem;*/
/*    font-size: 14px;*/
/*    font-weight: bold;*/
/*    color: white;*/
/*    background-color: #555555;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    transition: background-color 0.5s ease, color 0.5s ease;*/
/*}*/

.myInfo-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    gap: 3rem;
    padding-bottom: 4rem;
}

.myInfo-info-update, .myInfo-toMain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myInfo-info-update button, .myInfo-toMain button {
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    transition: background-color 0.5s ease, color 0.5s ease !important;
}

.myInfo-toMain button {
    color: #3f3f3f;
    background-color: white;
    border: 3px solid #ffc700;
}

.myInfo-info-update button {
    color: #3f3f3f;
    background-color: white;
    border: 3px solid #ff5155;
}

.myInfo-info-update button:hover, .myInfo-toMain button:hover {
    background-color: #ffeeee;
    cursor: pointer;
}

.myInfo-toMain button:hover {
    box-shadow: 0px 0px 5px #ffc700;
}

.myInfo-info-update button:hover {
    box-shadow: 0px 0px 5px #EC0000;
}

@media (min-width: 768px) {
    .myInfo-container, .myInfo-header {
        width: 30vw;
        margin: auto;
    }
}