* {
    margin: 0;
    font-family: 'Noto Serif JP', serif;
}

.myInfoUpdate-container {
    position: relative;
    width: 100vw;
    /*height: 100vh;*/
    background-image: url('/img/paperBG.png');
    background-size: auto;
    background-repeat: repeat;
}

/* Header */
.myInfoUpdate-header {
    z-index: 3;
    position: fixed;
    top: 0;
    /*left: 0;*/
    width: 100%;
    height: 6.8rem;
    background-image: url('/img/paperBG.png');
    background-size: auto;
}

.myInfoUpdate-header-logo {
    position: absolute;
    top: 18.5%;
    left: 6.5%;
}

.myInfoUpdate-header-logo img {
    width: 4rem;
    height: auto;
    border-radius: 100%;
}

.myInfoUpdate-header-logo img {
    cursor: pointer;
}

.myInfoUpdate-header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.myInfoUpdate-content {
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 6.8rem;
}

.myInfoUpdate-content-blank {
    width: 100%;
    margin: 0 auto;
}

/* プロフィール */
.myInfoUpdate-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.myInfoUpdate-profile img {
    width: 6rem;
    height: auto;
    border-radius: 100%;
    border: 3px solid #ff5155;
}

.myInfoUpdate-profile-container {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myInfoUpdate-profile-container > input {
    display: none;
}

#myInfoUpdate-profile {
    z-index: 2;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#myInfoUpdate-profile img {
    width: 6rem;
    height: auto;
    border-radius: 100%;
    border: 3px solid #ff5155;
    cursor: pointer;
}

.myInfo-info-box {
    width: 100%;
}

.info-label {
    display: flex;
    width: 100%;
    padding-bottom: 1.3rem;
    font-size: 18px;
    font-weight: bold;
    color: #555555;
}

.info-value-read {
    width: 100%;
    margin-bottom: 3rem;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
    border-bottom: 1px solid #696969;
    padding-left: 10px;
    box-sizing: border-box;
}

.info-value {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 3rem;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #999999;
    border-radius: 5px;
    box-sizing: border-box;
}

.myInfoUpdate-info-box {
    width: 100%;
    margin: 0 auto;
}

.info-label-small {
    display: flex;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: bold;
    color: #777777;
}

/* 漢字 */
.info-value-name-kanji {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: -1.5rem;
}

/* フリガナ */
.info-value-name-hurigana {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: -1.5rem;
}

/* ローマ字 */
.info-value-name-eng {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* Buttons */
.myInfoUpdate-info-update {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.myInfoUpdate-info-update button {
    padding: 0.5rem 1rem;
    /*font-size: 14px;*/
    font-size: 16px;
    font-weight: bold;
    /*color: white;*/
    /*background-color: #555555;*/
    color: #3f3f3f;
    background-color: white;
    border: 3px solid #ff5155;
    outline: 1px solid #ffc700;
    border-radius: 15px;
    margin-top: 5%;
    margin-bottom: 4rem;
    margin-left: 0;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.myInfoUpdate-info-update button:hover {
    background-color: #ffeeee;
    cursor: pointer;
    box-shadow: 0px 0px 5px #EC0000;
}

.myInfoUpdate-info-delete {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #555555;
    margin-bottom: 2rem;
}

.myInfoUpdate-info-delete span {
    font-size: 13px;
    font-weight: bold;
    color: #ff5155;
    text-decoration: none;
}

.myInfoUpdate-info-delete span:hover {
    color: #EC0000;
    cursor: pointer;
}

.myInfoUpdate-info-delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

#myInfo-account-delete-button {
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: bold;
    color: #EC0000;
    background-color: white;
    border: 2px solid #EC0000;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#myInfo-account-delete-button:hover {
    color: white;
    background-color: #EC0000;
}

/*confirm 창 CSS*/
.je_confirm-box,
.je_confirmbox-overlay {
    opacity: 0; /* 처음에는 투명하게 시작 */
    transition: opacity 0.3s ease; /* 부드러운 전환 효과 */
}

.je_confirm-box.show,
.je_confirmbox-overlay.show {
    opacity: 1; /* 나타날 때 불투명하게 */
}


.je_confirmbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.je_confirm-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    border: 2px solid #fb1010;
    outline: 2px solid #ffc107;
    background-color: #fffbf7;
    z-index: 5;
    padding: 2rem;
    border-radius: 20px;
}

.je_confirm-message {
    margin-bottom: 2rem;
}

.je_confirm-message div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.je_confirm-message div:nth-child(1) {
    font-size: 18px;
    font-weight: 900;
    color: #ff494c;
}

.je_confirm-message div:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
    color: #474747;
    margin-top: 1rem;
}

.je_confirm-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    button {
        width: 6rem;
        padding: 0.4rem 0.5rem;
        border-radius: 20px;
        font-weight: bold;
        font-size: 14px;
    }

    button:hover {
        background-color: #ffeeee;
        transition: background-color 0.3s ease;
    }

    button:not(:hover) {
        transition: background-color 0.3s ease;
    }

}

.je_confirm-buttons > .confirm {
    background-color: #ffffff;
    color: #ec0000;
    border: 2px solid #ec0000;
}

.je_confirm-buttons > .cancel {
    background-color: #ffffff;
    color: #7d7d7d;
    border: 2px solid #c8c8c8;
}

@media (min-width: 768px) {
    .myInfoUpdate-container, .myInfoUpdate-header {
        width: 30vw;
        margin: auto;
    }
}