body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

.slider {
    width: 100vw;
    height: 100vh;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

.slick-dots {
    top: 100px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: black;
}
