* {
    margin: 0;
    font-family: 'Noto Serif JP', serif;
    overflow: hidden;
}

.register-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-image: url('/img/paperBG.png');*/
    /*background-size: auto;*/
    /*background-repeat: repeat;*/
}

/* Register Header */
.register-header {
    width: 100%;
    height: 6.8rem;
    position: absolute;
    top: 0;
}

.register-header-logo {
    position: absolute;
    top: 18.5%;
    left: 6.5%;
}

.register-header-logo img {
    width: 4rem;
    height: auto;
}

.register-header-heart {
    position: absolute;
    top: 35%;
    right: 10%;
}

.register-header-heart img {
    width: 2rem;
    height: auto;
    animation: heartbeat 1s infinite;
    transition: transform 0.5s ease-in-out;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

/* Register Slider */
.slider-container {
    width: 100%;
    height: calc(100vh - 60px);
    margin-bottom: 60px;
}

/* Register Slider Dots */
.slick-dots {
    height: 1rem;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px !important;
}

.slick-dots li button:before {
    line-height: 50px;
    font-size: 10px !important;
    color: red !important;
}

/* Register Slide */
.slide {
    height: calc(100vh - 60px); /* 이전/다음 버튼과 간격을 맞추기 위해 높이 조정 */
    padding-top: 8rem; /* 슬라이더와 점 네비게이션 사이에 패딩 추가 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, select {
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset; /* 배경을 흰색으로 설정 */
    -webkit-text-fill-color: inherit; /* 텍스트 색상도 기본 색상으로 설정 */
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

/*Register Slider Controller*/
.register-slider-controller {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 6%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.register-slider-prevButton, .register-slider-nextButton {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.register-slider-prevButton {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    padding: 10px;
    background: none;
    border: none;
}

.register-slider-prevButton img {
    width: 50px;
    height: auto;
}

.register-slider-nextButton {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 10px;
    background: none;
    border: none;
}

.register-slider-nextButton img {
    width: 50px;
    height: auto;
}

#register-submitButton {
    width: 100%;
    margin-top: 2%;
    margin-left: 79.5%;
    margin-right: 7%;
    margin-bottom: 2.5%;
    border: 3px solid #ff5155;
    outline: 1px solid #ffc700;
    border-radius: 26px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    color: #3f3f3f;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#register-submitButton:hover {
    background-color: #ffeeee;
    cursor: pointer;
    box-shadow: 0px 0px 5px #EC0000;
}

/* 검증 메시지 스타일 */
.error-message {
    color: red;
}

.success-message {
    color: #555555;
}

.register-submitError {
    width: 100%;
    position: absolute;
    bottom: 14%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* Slide 1 */
.home-vertical-text {
    font-size: 20px;
    font-weight: bold;
    color: #3F3F3F;
    letter-spacing: 5px;
    text-shadow: 0 0 3px #FFBDBB;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 7rem;
    left: 3.5rem;
    z-index: 5;
}

.home-vertical-text1 {
    writing-mode: vertical-rl;
    margin-bottom: 1rem;
}

.home-vertical-text2 {
    writing-mode: vertical-rl;
    margin-left: 2rem;
}

.register-character {
    position: absolute;
    top: 53%;
    left: 7%;
}

.register-character img {
    width: 11rem;
    height: auto
}

/* Slide 2 : お名前 */
.register-slide-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.register-name-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.1rem;
}

.register-name-label-container {
    width: 100%;
    font-weight: bold;
    color: #555555;
    text-align: left;
    margin: 0;
    padding-left: 3rem;
}

.register-name-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem 2rem 1.5rem;
    gap: 10px;
}


/* Slide 3 : 性別＆生年月日 */
/* 性別 */
.slide3-title1 {
    margin-bottom: 1.5rem;
}

.register-gender-container {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.gender-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gender-label input[type="radio"] {
    margin-bottom: 1rem;
    width: 1.1rem;
    height: 1.1rem;
}

.gender-label img {
    width: 50px;
    height: auto;
    margin-bottom: 4rem;
}

/* 生年月日 */
.slide3-title2 {
    margin-bottom: 1.5rem;
}

.register-birthdate-container {
    width: calc(100% - 3rem);
    /*max-width: 400px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 1.5rem;
    gap: 1rem;

    input {
        text-align: center;
    }
}

.register-birthdate-error-message {
    margin-top: 0.5rem;
    color: red;
    font-size: 0.875rem;
    text-align: center;
}


/* Slide 4 : 電話番号＆メールアドレス */
/* 電話番号 */
.slide4-title1 {
    justify-content: left !important;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.register-phone-container {
    width: calc(100% - 3rem);
    /*max-width: 400px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 1.5rem;

    input {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #666666;
        outline: none;
        font-size: 20px;
        font-weight: bold;
        color: #474747;
    }
}

/* メールアドレス */
.slide4-title2 {
    justify-content: left !important;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.register-email-container {
    width: calc(100% - 3rem);
    /*max-width: 400px;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        width: 100%;
        margin: 10px;
        padding: 10px;
        padding-left: 30px;
        border: none;
        border-bottom: 1px solid #666666;
        outline: none;
        font-size: 18px;
        font-weight: bold;
        color: #474747;
    }
}

.register-verification-send {
    width: 100%;
    display: flex;
    /*justify-content: flex-end;*/
    justify-content: right;
    align-items: center;
}

#emailError {
    font-size: 13px;
    font-weight: bold;
    color: red;
}

#emailSuccess {
    font-size: 13px;
    font-weight: bold;
    color: #555555;
}

#sendCodeButton {
    margin-top: 0;
    margin-bottom: 0;
    /*margin-left: 1.7rem;*/
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    font-size: 14px;
    color: white;
    background-color: #555555;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.register-verification-container {
    width: calc(100% - 3rem);
    /*max-width: 400px;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        width: 100%;
        margin: 10px;
        padding: 10px;
        padding-left: 30px;
        border: none;
        border-bottom: 1px solid #666666;
        outline: none;
        font-size: 20px;
        font-weight: bold;
        color: #474747;
    }
}

.register-verification-container input::placeholder {
    font-size: 16px;
}

.register-verification-check {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#verifyMessage {
    font-size: 13px;
    font-weight: bold;
    color: red;
}

#verifyCodeButton {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: 14px;
    color: white;
    background-color: #555555;
    border: none;
    border-radius: 5px;
    justify-content: right;
    transition: background-color 0.5s ease, color 0.5s ease;
}


/* Slide 5 : ID＆PW */
/* ID */
.slide5-title1 {
    justify-content: left !important;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.register-ID-container {
    width: calc(100% - 3rem);
    /*max-width: 400px;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.register-ID-container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #666666;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: #474747;
}

.register-checkID-check {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#IDFeedback {
    font-size: 13px;
    font-weight: bold;
    color: #555555;
}

#check-ID {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0.5rem 1rem;
    font-size: 14px;
    color: white;
    background-color: #555555;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* PW */
.slide5-title2 {
    justify-content: left !important;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.register-PW-container {
    width: calc(100% - 3rem);
    /*max-width: 400px;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-PW-container input[type="password"] {
    width: 100%;
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    border: none;
    border-bottom: 1px solid #666666;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: #474747;
}

.register-PW-container input[type="text"] {
    width: 100%;
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    border: none;
    border-bottom: 1px solid #666666;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: #474747;
}

.register-checkPW-check {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#passwordFeedback {
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    color: #555555;
}

#showPassword {
    width: 5% !important;
}

#showPassword + label {
    width: 10%;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #474747;
}


/* Slide 6 : 住所 */
/*.slide6-title {*/
/*    margin-bottom: 1.5rem;*/
/*}*/

.register-address-container {
    width: calc(100% - 3rem);
    /*max-width: 400px;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-zipcode-check {
    width: 100%;
    display: flex;
    /*justify-content: space-between; !* 우편번호 입력과 주소 검색 버튼을 양쪽에 배치 *!*/
    justify-content: right;
    align-items: center;
    /*text-align: right;*/
}

#zipcode {
    width: 35%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 18px;
}

#searchAddress {
    padding: 0.5rem 1rem;
    font-size: 14px;
    color: white;
    background-color: #555555;
    border: none;
    border-radius: 5px;
    margin-left: 1rem;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#zipcodeError {
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    color: red;
    text-align: right;
}

.register-zipcode-result {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#state-city, #town, #building {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

/* Flatpickr 캘린더 스타일 */
.flatpickr-calendar {
    font-family: 'Noto Serif JP', serif;
}

@media (min-width: 768px) {
    .register-container {
        width: 30vw;
        margin: auto;
    }
}
