* {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0;
}
body {
    background-image: url("../../img/Paper_BG.png");
    overflow-y: auto;
}
/* 메뉴 - 헤더 */
.je_menu-header {
    width: 100%;
    height: 3.125rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5rem;
    font-size: 20px;
    font-weight: 600;
    color: #2e2e2e;
}

.je_logo-icon,
.je_menu-icon {
    width: 1.8rem;
    img {
        width: 100%;
    }
}


.yr_party_wrapper {
    transition: transform 0.5s ease-in-out;
    justify-content: center;
    width: 100%;
    color: #FF8B8B;
}
.yr_party_wrapper.hidden {
    transform: translateX(-180%);
}
.yr_party_main_container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.yr_title {
    font-size: 14px;
    font-weight: 900;
    height: 2.5rem;
    width: 100%;
    background-color: #FFDBDB;
    color: #FF494C;
    text-align: center;
    align-content: center;
}

.yr_party_welcome {
    font-size: 1rem;
    text-align: center;
    color: #696969;
    height: 4.5rem;
    align-content: center;
    transition: opacity 0.5s ease, height 0.5s ease;
    opacity: 1;
    overflow: hidden;
}
.yr_party_welcome.hidden {
    opacity: 0;
    height: 0;
}

/* ----------------------- party list */
.yr_party_list {
    font-size: 0.91rem;
    height: 4rem;
    width: 78%;
    border-radius: 1rem;
    text-align: center;
    transition: height 0.5s ease;
    border: 2px solid #FF8B8B;
    box-shadow: 0 3px 5px #FF8B8B;
    background-color: white;
    margin: 0 auto 20px auto;
    align-content: center;
    padding: 0.8rem;
}
.yr_list_title{
    color:#696969;
    padding-bottom: 0.6rem;
}
.yr_list_title span,
.yr_choice_mention span{
    color:#FF494C;
}
.yr_list_title2{
    color:#474747;
    padding: 0 0 1rem;
}

/* 각 메뉴당 높이 조절 */
.yr_party_list.expanded {
    height: max-content;
    border: 2px solid #F03434;
    box-shadow: 0 0 0 5px white, 0 0 0 6px #FFC700;
}
.yr_party_list.collapsed {
    height: 3rem;
    margin-top: 1rem;
}
.yr_party_list.all.expanded {
    height: max-content;
    margin-top: 1rem;
}
.yr_party_list.random.expanded {
    height: 15rem;
}
.yr_party_list.choice.expanded {
    height: max-content;
}

.yr_list_all,
.yr_random,
.yr_type,
.yr_choice {
    display: none;
    margin-bottom: 1.5rem;
}

/* 참가자*/
.yr_list {
    background-color: #FFFBF7;
    border: 3px solid #FF8B8B;
    height: 3rem;
    margin: 0.5rem auto;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.yr_list.visible {
    opacity: 1;
    transform: translateY(0);
}
.yr_list_left,.yr_list_right{
    width: 2rem;
}
.yr_list_left img{
    width: 1.8rem;
    margin-left: 10px;
}
.yr_list_name {
    color: #696969;
    margin: auto;
}
.yr_list_right img{
    width: 1.4rem;
    margin-right: 10px;
}


/* --------------------------random */
.yr_random_button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    border: 2px solid #FF8B8B;
    background-color: #FF5050;
    color: white;
    align-content: center;
    margin: 3rem auto;
}
.yr_random_loading {
    height: 15rem;
}

/* 하트모양 로딩 애니메이션 */
.lds-heart,
.lds-heart div,
.lds-heart div:after,
.lds-heart div:before {
    box-sizing: border-box;
    color: #FF5050;
}
.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    transform: rotate(45deg);
    transform-origin: 80px 20px;
}
.lds-heart div {
    top: 50px;
    left: 50px;
    position: absolute;
    width: 50px;
    height: 50px;
    background: currentColor;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: currentColor;
}
.lds-heart div:before {
    left: -35px;
    border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
    top: -35px;
    border-radius: 50% 50% 0 0;
}
.yr_random_group {
    font-size: 1rem;
    height: 10rem;
    opacity: 0;
    animation: fadeIn 1s forwards;
    color: black;
    font-weight: 400;
}
.yr_random_group p {
    font-size: 5rem;
    color:#FF5050;
}

/* ---------------------------- type */
.yr_type_group1,
.yr_type_group2,
.yr_type_group3 {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    margin: 1rem auto;
    background-color: #FFFBF7;
    border-radius: 1rem;
    border: 2px solid #FFDBDB;
    padding: 1rem 0;
}
.yr_type_mention{
    width: 100%;
    color: #696969;
    font-weight: 400;
    height: 2rem;
    font-size: 1rem;
}
.yr_type_item {
    font-size: 1.1rem;
    width: 6rem;
    height: 2.3rem;
    background-color: #fff;
    border-radius: 0.6rem;
    margin: 0.3rem 0.7rem;
    border: 2px solid #FF5050;
    align-content: center;
    letter-spacing: -0.1rem;
    font-weight: 300;
}
.yr_type_item.selected {
    background-color: #FF5050;
    color: white;
}
#yr_type_button {
    background-color: #fff;
    color: #ff7e81;
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem auto 0;
    border: 3px solid #FF8B8B;
}
#yr_type_button:hover{
    background-color: #FF5050;
}
.yr_type_group_select {
    height: 15rem;
    background-color: #fff;
    margin: 1rem auto;
    font-size: 1rem;
    opacity: 0;
    animation: fadeIn 1s forwards;
    font-weight: 400;
    color: #474747;
}
.yr_type_group_select p {
    font-size: 3rem;
    color: #FF5050;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ---------------------------choice */
.yr_choice_mention {
    font-size: 1rem;
    margin: 1rem auto 2rem;
}
.yr_list_choice {
    background-color: #FFFBF7;
    border: 3px solid #FF8B8B;
    height: 3rem;
    margin: 0.5rem auto;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.yr_list_choice:hover {
    /* box-shadow: inset 0 0 15px; */
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
    box-shadow: 0 0 10px;
}
.yr_list_choice.visible {
    opacity: 1;
    transform: translateY(0);
}

.yr_list_name_choice {
    margin: auto;
    color: #696969;
}
.yr_list_choice.selected {
    box-shadow: inset 0 0 18px;
}
#yr_choice_button {
    background-color: #fff;
    color: #ff7e81;
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.6rem;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1rem auto 0;
    border: 3px solid #FF8B8B;
}
#yr_choice_button:hover{
    background-color: #FF5050;
    color: white;
}
.yr_bottom_img{
    width: 90%;
    margin: 3% 5% 10%;
}

@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}
