* {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    width: 100vw;
    background-image: url("../../img/Paper_BG.png");
}

.je_menu-header {
    width: 100%;
    height: 3.125rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5rem;
    font-size: 20px;
    font-weight: 600;
    color: #2e2e2e;
}

.je_logo-icon,
.je_menu-icon {
    width: 1.8rem;
    img {
        width: 100%;
    }
}

.yr_party-info-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 40px;
}
.yr_title {
    font-size: 14px;
    font-weight: 900;
    height: 2.5rem;
    width: 100%;
    background-color: #FFDBDB;
    color: #FF494C;
    text-align: center;
    align-content: center;
}

/* -------梨꾪똿 媛��� 踰꾪듉 -------- */
#yr_go_to_chat,
#yr_go_to_chat2 {
    width: 22rem;
    height: 5rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    background-color: #fff;
    /*box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    border: 2px solid #FF8B8B;
}
#yr_go_to_chat:hover {
    box-shadow: 0 0 15px 10px rgba(244, 80, 82, 0.5);
    background-color: #fff;
}
#yr_go_to_chat span {
    font-weight: 500;
}
.yr_go_to_chat_wrap img{
    position: absolute;
    top: 9.4rem;
    right: 2rem;
    width: 3.5rem;
}

#yr_go_to_chat2:hover {
    box-shadow: 0 0 15px 10px rgba(244, 80, 82, 0.5);
    background-color: #fff;
}

#yr_go_to_chat2 span {
    font-weight: 500;
}

.yr_ratio {
    /* margin: 0rem 1.5rem 2rem 1.5rem; */
    text-align: center;
    width: 21.6rem;
    height: 23.3rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    background-color: #ffff;
    /* padding: 0.5rem; */
    border: 2px solid #FF8B8B;
}
.yr_ratio p {
    font-weight: 500;
    margin-top: 1rem;
    font-size: 1.3rem;
}
.yr_ratio span {
    font-weight: 100;
}

.yr_graph_wrap {
    position: relative;
    width: 14rem;
    height: 11rem;
    margin: 0 auto 0.8rem;
    border-bottom: 1px solid #ccc;
}
.yr_graph_wrap .yr_graph {
    height: 11.5rem;

}
.yr_graph_wrap .yr_graph div {
    position: absolute;
    bottom: 0;
    width: 2.8rem;
}

/* ------- �좊옉�좊�痢� 鍮꾩쑉 留됰� 洹몃옒��-------- */
.yr_graph_wrap .yr_graph #yr_side_graph_bar1 {
    left: 3rem;
    background: #FF5153;
}
.yr_graph_wrap .yr_graph #yr_side_graph_bar2 {
    left: 8.5rem;
    background: #FFC700;
}
.yr_graph_percent_wrap{
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
    font-weight: 100;
    align-items: center;
    /* gap: 0.3rem; */
    margin: 30px auto;
}
.yr_groom {
    animation: yr_groom 1.5s forwards;
}
.yr_bride {
    animation: yr_bride 1.5s forwards;
}

.circle1{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #FF5153;
}
.circle2{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #FFC700;
}


/* ------- �⑤� 遺꾪룷 鍮꾩쑉 留됰� 洹몃옒�� -------- */
.yr_ratio.type{
    height: 22rem;
}

.yr_graph_wrap .yr_graph #yr_graph_bar1 {
    left: 3rem;
    background: #FF5153;
}
.yr_graph_wrap .yr_graph #yr_graph_bar2 {
    left: 8.5rem;
    background: #FFC700;
}

.yr_man {
    animation: yr_man 1.5s forwards;
}
.yr_woman {
    animation: yr_woman 1.5s forwards;
}

.yr_graph_label_wrap1,
.yr_graph_label_wrap2 {
    font-size: 1rem;
    font-weight: 200;
    width: 11rem;
    display: flex;
    justify-content: space-around;
    margin-left: 1.5rem;
}
.yr_graph_label_wrap1{
    margin-top: 0.2rem;
}

/* ------- �꾨꽋 洹몃옒�� -------- */
.yr_ratio.age{
    height: 25.5rem;
}
.yr_graph_donut {
    position: relative;
    width: 20rem;
    /* height: 40rem; */
    margin: 20px auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- 梨꾪똿 踰꾪듉 �좊땲硫붿씠�� -------- */
@keyframes buttonPulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 15px 10px rgba(244, 80, 82, 0.5);
    }
    50% {
        transform: scale(0.97);
        box-shadow: 0 0 15px 5px rgba(244, 80, 82, 0.5);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 15px 10px rgba(244, 80, 82, 0.5);
    }
}

#yr_go_to_chat2 {
    animation: buttonPulse 1.5s infinite;
}