* {
    margin: 0;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    background-color: #fff5f4;
    background-image: url("../../img/Paper_BG.png");
}

.yr_party-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.yr_title {
    font-size: 2.5rem;
    font-weight: 600;
    height: 5rem;
    width: 100%;
    background-color: #FFDBDB;
    color: #FF494C;
    text-align: center;
    align-content: center;
}

/* -------채팅 가는 버튼 -------- */
#yr_go_to_chat,
#yr_go_to_chat2 {
    width: 53rem;
    height: 15rem;
    font-size: 3.2rem;
    border-radius: 2rem;
    background-color: #fff;
    /*box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-bottom: 2rem;
    border: 2px solid #FF8B8B;
}
#yr_go_to_chat:hover {
    box-shadow: 0 0 15px 10px rgba(244, 80, 82, 0.5);
    background-color: #fff;
}
#yr_go_to_chat span {
    font-weight: 500;
}
.yr_go_to_chat_wrap img{
    position: absolute;
    top: 18rem;
    right: 4rem;
}

#yr_go_to_chat2:hover {
    box-shadow: 0 0 15px 10px rgba(244, 80, 82, 0.5);
    background-color: #fff;
}

#yr_go_to_chat2 span {
    font-weight: 500;
}

.yr_ratio {
    margin: 0rem 1.5rem 2rem 1.5rem;
    text-align: center;
    width: 50rem;
    height: 50rem;
    font-size: 3.2rem;
    border-radius: 2rem;
    background-color: #ffff;
    padding: 1rem;
    border: 2px solid #FF8B8B;
}
.yr_ratio p {
    font-weight: 500;
    margin: 1.5rem;
}
.yr_ratio span {
    font-weight: 100;
}

.yr_graph_wrap {
    position: relative;
    width: 35rem;
    height: 25rem;
    margin: 1rem auto 1rem;
    border-bottom: 1px solid #000;
}
.yr_graph_wrap .yr_graph {
    height: 25rem;

}
.yr_graph_wrap .yr_graph div {
    position: absolute;
    bottom: 0;
    width: 6.5rem;
}

/* ------- 신랑신부측 비율 막대 그래프-------- */
.yr_graph_wrap .yr_graph #yr_side_graph_bar1 {
    left: 7rem;
    background: #FF5153;
}
.yr_graph_wrap .yr_graph #yr_side_graph_bar2 {
    left: 21rem;
    background: #FFC700;
}
.yr_graph_percent_wrap{
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
    font-weight: 100;
    align-items: center;
    gap: 1rem;
    margin: 50px auto;
}
.yr_groom {
    animation: yr_groom 1.5s forwards;
}
.yr_bride {
    animation: yr_bride 1.5s forwards;
}

.circle1{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #FF5153;
}
.circle2{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #FFC700;
}


/* ------- 남녀 분포 비율 막대 그래프 -------- */
.yr_graph_wrap .yr_graph #yr_graph_bar1 {
    left: 7rem;
    background: #FF5153;
}
.yr_graph_wrap .yr_graph #yr_graph_bar2 {
    left: 21rem;
    background: #FFC700;
}

.yr_man {
    animation: yr_man 1.5s forwards;
}
.yr_woman {
    animation: yr_woman 1.5s forwards;
}

.yr_graph_label_wrap1,
.yr_graph_label_wrap2 {
    font-size: 1.8rem;
    font-weight: 200;
    width: 28rem;
    display: flex;
    justify-content: space-around;
    margin-left: 3.5rem;
    margin-top: 3rem;
}
.yr_graph_label_wrap1{
    margin-top: 2rem;
}

/* ------- 도넛 그래프 -------- */
.yr_ratio.age{
    height: 53rem;
}
.yr_graph_donut {
    position: relative;
    width: 40rem;
    height: 40rem;
    margin: 20px auto 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- 채팅 버튼 애니메이션 -------- */
@keyframes buttonPulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 15px 10px rgba(244, 80, 82, 0.5);
    }
    50% {
        transform: scale(0.97);
        box-shadow: 0 0 15px 5px rgba(244, 80, 82, 0.5);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 15px 10px rgba(244, 80, 82, 0.5);
    }
}

#yr_go_to_chat2 {
    animation: buttonPulse 1.5s infinite;
}
