* {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0;
}
body {
    background-color: #fff5f4;
    overflow-y: auto;
}

.yr_party_wrapper {
    transition: transform 0.5s ease-in-out;
}
.yr_party_wrapper.hidden {
    transform: translateX(-180%);
}
.yr_party_main_container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: max-content;
    margin-bottom: 10rem;
}
.yr_title {
    font-size: 5rem;
    font-weight: 600;
    padding: 50px 40px 40px 50px;
    height: 10rem;
}
.yr_party-red-loof img {
    width: 58rem;
}
.yr_party_welcome {
    font-size: 3rem;
    text-align: center;
    color: #dd2025;
    height: 18rem;
    align-content: center;
    transition: opacity 0.5s ease, height 0.5s ease;
    opacity: 1;
    overflow: hidden;
}
.yr_party_welcome.hidden {
    opacity: 0;
    height: 0;
}

/* party list */
.yr_party_list {
    height: 13rem;
    width: 50rem;
    background-color: #ffe7e7;
    margin-bottom: 1.5rem;
    border-radius: 2rem;
    color: #ff7e81;
    font-size: 3.5rem;
    text-align: center;
    transition: height 0.5s ease;
    align-content: center;
}

/* 각 메뉴당 높이 조절 */
.yr_party_list.expanded {
    height: max-content;
    align-content: baseline;
}
.yr_party_list.collapsed {
    height: 7rem;
}
.yr_party_list.all.expanded {
    height: max-content;
}
.yr_party_list.random.expanded {
    height: max-content;
}
.yr_party_list.choice.expanded {
    height: max-content;
}
.yr_party_list.expanded p {
    padding: 2rem;
}
.yr_list_all,
.yr_random,
.yr_type,
.yr_choice {
    display: none;
    margin-bottom: 5rem;
}

/* 참가자 list*/
.yr_list {
    background-color: #fff;
    height: 7rem;
    width: 40rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    margin: auto auto 1.5rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.yr_list.visible {
    opacity: 1;
    transform: translateY(0);
}
.yr_list_number {
    width: 5rem;
    height: 5rem;
    background-color: #ff7e81;
    color: #fff;
    border-radius: 50%;
    font-size: 0.8em;
    margin-left: 0.5rem;
    align-content: center;
}
.yr_list_name {
    color: #ff7e81;
    margin: auto;
}

/* random */
.yr_random_button {
    width: 15rem;
    height: 5rem;
    background-color: #ff7e81;
    color: #fff;
    font-weight: 200;
    font-size: 3rem;
    border-radius: 10rem;
    margin: 12.5rem auto;
}
.yr_random_loading {
    height: 30rem;
}

/* 하트모양 로딩 애니메이션 */
.lds-heart,
.lds-heart div,
.lds-heart div:after,
.lds-heart div:before {
    box-sizing: border-box;
}
.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    /* height: 80px; */
    transform: rotate(45deg);
    transform-origin: 40px 40px;
}
.lds-heart div {
    top: 100px;
    left: 100px;
    position: absolute;
    width: 100px;
    height: 100px;
    background: currentColor;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    background: currentColor;
}
.lds-heart div:before {
    left: -95px;
    border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
    top: -95px;
    border-radius: 50% 50% 0 0;
}
.yr_random_group {
    font-size: 2rem;
    height: 30rem;
    opacity: 0;
    animation: fadeIn 1s forwards;
}
.yr_random_group p {
    font-size: 12rem;
}
@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}

/* type */
.yr_type_mention {
    font-size: 2rem;
}
.yr_type_group1,
.yr_type_group2,
.yr_type_group3 {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    background-color: #fff;
    width: 40rem;
    border-radius: 3rem;
    padding: 1rem;
}
.yr_type_item {
    font-size: 2.3rem;
    font-weight: 700;
    width: 15.5rem;
    height: 5rem;
    background-color: #fff;
    border-radius: 10rem;
    margin: 1rem 2rem;
    border: 3px solid #ff7e81;
    align-content: center;
    letter-spacing: -0.1rem;
    color: #ff7e81;
}
.yr_type_item.selected {
    background-color: #ff7e81;
    color: white;
}
#yr_type_button {
    background-color: #fff;
    color: #ff7e81;
    width: 15.5rem;
    height: 5rem;
    border: none;
    border-radius: 10rem;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 4rem auto 2rem;
}
.yr_type_group_select {
    width: 40rem;
    height: 38rem;
    background-color: #fff;
    margin: 2rem auto;
    border-radius: 3rem;
    font-size: 2rem;
    opacity: 0;
    animation: fadeIn 1s forwards;
}
.yr_type_group_select p {
    font-size: 12rem;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* choice */
.yr_choice_mention {
    font-size: 2rem;
    margin: 3rem auto 5rem;
}
.yr_list_choice {
    background-color: #fff;
    height: 7rem;
    width: 40rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    margin: auto auto 1.5rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.yr_list_choice:hover {
    /* box-shadow: inset 0 0 15px; */
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
    box-shadow: 0 0 10px;
}
.yr_list_choice.visible {
    opacity: 1;
    transform: translateY(0);
}
.yr_list_number_choice {
    width: 5rem;
    height: 5rem;
    background-color: #ff7e81;
    color: #fff;
    border-radius: 50%;
    font-size: 0.8em;
    margin-left: 0.5rem;
    align-content: center;
}
.yr_list_name_choice {
    color: #ff7e81;
    margin: auto;
}
.yr_list_choice.selected {
    box-shadow: inset 0 0 15px;
}
#yr_choice_button {
    background-color: #ff7e81;
    color: #fff;
    width: 15.5rem;
    height: 5rem;
    border: none;
    border-radius: 10rem;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 4rem auto 2rem;
    text-align: center;
}
.yr_selected_choices {
    position: absolute;
}
