* {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
body {
    background-color: #fff5f4;
    margin: 0;
}
.yr_party-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: max-content;
}
.yr_title {
    font-size: 5rem;
    font-weight: 600;
    padding: 50px 40px 40px 50px;
    height: 10rem;
}
.yr_party-red-loof img {
    width: 58rem;
}
.yr_content {
    font-size: 3rem;
    font-weight: 100;
    height: 16em;
    text-align: center;
    align-content: center;
}
.yr_btn_wrapper {
    display: flex;
    flex-direction: row;
    width: 50rem;
    height: 30rem;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.yr_btn_left,
.yr_btn_right {
    width: 50%;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.12);
}
.yr_btn_left p {
    color: #ff7e81;
    font-weight: 200;
}
.yr_btn_right p {
    color: #fff705;
    font-weight: 500;
    -webkit-text-stroke: 0.5px #ccc;
}
.yr_btn_wrapper img {
    width: 8rem;
    margin: auto;
}
#btn_heart,
#btn_star {
    padding: 3rem;
    border-radius: 50%;
    background-color: #ffff;
    border-style: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#btn_heart:hover,
#btn_star:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
