@charset "UTF-8";
#ui-datepicker-div {
    position: absolute;
    top: 41rem;
    left: 10.5% !important;
    z-index: 1;
    display: none;
    height: 18rem;
}

.ui-widget.ui-widget-content {
    /* border: 0.2rem solid #ff7e81; */
    background-color: #ffdbdb;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.3rem;
    margin-top: 1rem;
    height: 17rem;
}

.ui-widget.ui-widget-content {
    border: 0.2rem solid #ff7e81;
}

.ui-datepicker .ui-datepicker-header {
    background-color: #ffffff;
    border-radius: 0.5rem;
    position: relative;
    padding: 0.2em 0;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.ui-datepicker-title {
    background-color: #ffffff;
}

.ui-datepicker-calendar {
    background-color: #ffffff;

    border-radius: 0.5rem;
    padding: 0 0 5.76px;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #ffdbdb;
    background: #fff4f4;
    color: #ff7e81;
}

/* timer picker */
.ui-timepicker-container {
    /* top: 2rem !important; */
    left: 165.219px;
    height: 14rem !important;
    width: 153px;
    z-index: auto;
    cursor: default;
}

.ui-timepicker-standard {
    font-size: 1.1em;
    background-color: #ffdbdb !important;
    border: 1px solid #ffdbdb !important;
    color: #222;
    margin: 0;
    padding: 2px;
}

.ui-timepicker-viewport {
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
}

.ui-timepicker {
    /* border: 0.2rem solid #ff7e81; */
    background-color: #ffdbdb;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.3rem;
    margin-top: 0rem !important;
    height: 17rem;
    z-index: 10 !important;
}

/* 공통 */
.ui-widget.ui-widget-content {
    border: 1px solid #ffdbdb !important;
}
