/* 기본세팅 */

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 200 to 900 */

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
}

body{
    background-color: #fffbf7;
}

#je_product-container {
    width: 100vw;
    height: 100vh;
}

/* 메뉴 - 헤더 */
.je_menu-bar {
    width: 100%;
    height: 3rem;
    background-color: #ffd1d0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#je_logo {
    width: 2rem;
}
#je_logo img {
    width: 100%;
}

/* 타이틀 */
.je_page-title {
    /* background-color: aquamarine; */
    margin-top: 2rem;
}

.je_page-title-txt,
.je_page-title-line {
    display: flex;
    justify-content: center;
}

.je_page-title-txt {
    font-size: 1rem;
    font-weight: 900;
}

.je_page-title-line > img {
    width: 10rem;
}

/* 내용 */
.je_page-content {
    /* background-color: cadetblue; */
    margin-top: 3rem;
    width: 100%;
}

.je_template-preview {
    /* background-color: aqua; */
    /* width: 5rem; */
    height: 23rem;
    display: flex;
    justify-content: center;
}

.je_template-title {
    margin-top: 0.8rem;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

/* 화살표 버튼 */
.je_slider-buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    /* gap: 5rem; */
    margin-top: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.je_template-slide-paging {
    text-align: center;
    font-size: 14px;
    font-weight: 900;
}

.je_slider-btn {
    /* background-color: aquamarine; */
    width: 2rem;
    display: none;
}

.je_slider-btn img {
    width: 100%;
}
