/* 슬라이드 CSS */
.slider {
    max-width: 800px;
    margin: 50px auto 0;
}
.slider .inner {
    overflow: hidden;
    width: 100%;
    /* margin: 0 auto;
    padding: 75px 0; */
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.slide_list > li {
    position: relative;
    width: 30%;
    height: fit-content;
    margin: 0;
    z-index: 0;
    transform: scale(1);
    transition: linear 0.7s;
}

/* 영역별 크기 설정 */
.slide_list > li.swiper-slide-next,
.slide_list > li.swiper-slide-prev,
.slide_list > li.swiper-slide-duplicate-next,
.slide_list > li.swiper-slide-duplicate-prev {
    z-index: 50;
    transform: scale(1);
    transition: linear 0.7s;
}
.slide_list > li.swiper-slide-active,
.slide_list > li.swiper-slide-duplicate-active {
    z-index: 100;
    transform: scale(1.5);
    transition: linear 0.5s;
}

/* 화살표 */
.slider .btn {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 30px 15px 0;
    background: url("images/arrow.png") center center no-repeat;
    background-size: cover;
    text-indent: -999em;
    cursor: pointer;
}
.slider .btn.btn_prev {
    transform: rotateY(180deg);
}

@media (max-width: 768px) {
    .slider {
        max-width: 400px;
        margin: 50px auto 0;
    }

    .slider .inner {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        /* padding: 38px 0; */
    }
    .slide_list > li {
        width: 30%;
    }

    .je_templat-box {
        width: 100%;
    }
    .slide_list > li.swiper-slide-next,
    .slide_list > li.swiper-slide-prev,
    .slide_list > li.swiper-slide-duplicate-next,
    .slide_list > li.swiper-slide-duplicate-prev {
        transform: scale(0.7);
    }
    .slide_list > li.swiper-slide-active,
    .slide_list > li.swiper-slide-duplicate-active {
        transform: scale(1);
    }
}
